## Data Cleaning
___

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re
pd.set_option('display.max_rows', 1000)

## Data Cleaning & Exploration
___

### Pull and Explore Aviation Data
___

In [2]:
airline_df = pd.read_csv('./data/aviation_data_no_commas.csv')

Referenced [Stack Overflow](https://stackoverflow.com/questions/1175208/elegant-python-function-to-convert-camelcase-to-snake-case) for changing camel case to snake case on dataframe columns as well as ChatGPT for regex code.

In [3]:
def camel_to_snake(col):
    return re.sub(r'(?<!^)(?=[A-Z])', '_', col).lower()

In [4]:
airline_df.columns = [camel_to_snake(col) for col in airline_df.columns]

In [5]:
airline_df.head(2)

,ntsb_no,event_type,mkey,event_date,city,state,country,report_no,n,has_safety_rec,...,scheduled,purpose_of_flight,f_a_r,air_craft_damage,weather_condition,operator,report_status,rep_gen_flag,docket_url,docket_publish_date
0,DCA24LA051,ACC,193561,2023-12-19T19:30:00Z,St. Louis,Missouri,United States,NaN,N8514F,False,...,SCHD,NaN,121,Substantial,VMC,SOUTHWEST AIRLINES CO,Completed,False,https://data.ntsb.gov/Docket?ProjectID=193561,3/12/2024 18:00
1,DCA24LA034,INC,193459,2023-11-30T08:14:00Z,Kahului,Hawaii,United States,NaN,N494HA,False,...,SCHD,NaN,121,Minor,VMC,Hawaiian Airlines,In work,False,NaN,NaN

#### Filter out unneeded columns
___

In [6]:
#list of columns worth keeping to streamline cleaning
columns_to_keep = ['event_type',
                   'event_date',
                   'n',
                   'highest_injury_level',
                   'fatal_injury_count',
                   'serious_injury_count',
                   'minor_injury_count',
                   'probable_cause',
                   'latitude',
                   'longitude',
                   'make',
                   'model',
                   'airport_i_d',
                   'air_craft_damage',
                   'operator',
                  ]

airline_filtered_df = airline_df[columns_to_keep].copy()

#### Rename Columns
___

In [7]:
# Change airport_i_d to airport_id and air_craft_damage to aircraft_damage
airline_filtered_df.rename(columns = {'airport_i_d':'airport_id', 'air_craft_damage':'aircraft_damage', 'n':'tail_number'}, inplace = True)

In [8]:
airline_filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2563 entries, 0 to 2562
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   event_type            2563 non-null   object
 1   event_date            2563 non-null   object
 2   tail_number           2559 non-null   object
 3   highest_injury_level  972 non-null    object
 4   fatal_injury_count    2563 non-null   int64
 5   serious_injury_count  2563 non-null   int64
 6   minor_injury_count    2563 non-null   int64
 7   probable_cause        1828 non-null   object
 8   latitude              2563 non-null   float64
 9   longitude             2563 non-null   float64
 10  make                  2558 non-null   object
 11  model                 2558 non-null   object
 12  airport_id            1612 non-null   object
 13  aircraft_damage       1519 non-null   object
 14  operator              1776 non-null   object
dtypes: float64(2), int64(3), object(10)
memory usage: 300.5+ KB

#### Clean 'operator' target
___

Due to time restraints, we are limiting our target airlines to top ten observations found in the dataset.  If two planes were involved in an accident, both would be recorded in one column cell.  As this rarely happened, we chose to take the first values in all instances where this occured for both operators, damage, and make/model.

In [9]:
#make all lower case
airline_filtered_df['operator'] = airline_filtered_df['operator'].str.lower()

In [10]:
#two operators listed, separated into an operator 2 column
airline_filtered_df[['operator1', 'operator2']] = airline_filtered_df['operator'].str.split(',', n=1, expand=True)

In [11]:
airline_filtered_df[airline_filtered_df['tail_number'] == 'N954U, N441KM']

,event_type,event_date,tail_number,highest_injury_level,fatal_injury_count,serious_injury_count,minor_injury_count,probable_cause,latitude,longitude,make,model,airport_id,aircraft_damage,operator,operator1,operator2
1739,ACC,1994-11-23T00:03:00Z,"N954U, N441KM",Fatal,2,0,0,The Cessna 441 pilot's mistaken belief that hi...,0.0,0.0,"MCDONNELL DOUGLAS, CESSNA","DC-9-82, 441",STL,"Substantial,Destroyed","trans world airlines, inc.,superior aviation, ...",trans world airlines,"inc.,superior aviation, inc."

In [12]:
airline_filtered_df.loc[airline_filtered_df['operator1'].str.contains('united', na=False), 'operator1'] = 'united'
airline_filtered_df.loc[airline_filtered_df['operator1'].str.contains('delta', na=False), 'operator1'] = 'delta'
airline_filtered_df.loc[airline_filtered_df['operator1'].str.contains('alaska', na=False), 'operator1'] = 'alaska'
airline_filtered_df.loc[airline_filtered_df['operator1'].str.contains('southwest', na=False), 'operator1'] = 'southwest'
airline_filtered_df.loc[airline_filtered_df['operator1'].str.contains('s.w.airlines', na=False), 'operator1'] = 'southwest'
airline_filtered_df.loc[airline_filtered_df['operator1'].str.contains('us', na=False), 'operator1'] = 'us airways'
airline_filtered_df.loc[airline_filtered_df['operator1'].str.contains('frontier', na=False), 'operator1'] = 'frontier'
airline_filtered_df.loc[airline_filtered_df['operator1'].str.contains('continental', na=False), 'operator1'] = 'continental'
airline_filtered_df.loc[airline_filtered_df['operator1'].str.contains('american', na=False), 'operator1'] = 'american'
airline_filtered_df.loc[airline_filtered_df['operator1'].str.contains('eagle', na=False), 'operator1'] = 'american'
airline_filtered_df.loc[airline_filtered_df['operator1'].str.contains('jetblue', na=False), 'operator1'] = 'jetblue'
airline_filtered_df.loc[airline_filtered_df['operator1'].str.contains('blue', na=False), 'operator1'] = 'jetblue'
airline_filtered_df.loc[airline_filtered_df['operator1'].str.contains('spirit', na=False), 'operator1'] = 'spirit'
airline_filtered_df.loc[airline_filtered_df['operator1'].str.contains('hawaiian', na=False), 'operator1'] = 'hawaiian'
airline_filtered_df.loc[airline_filtered_df['operator1'].str.contains('eastern airlines', na=False), 'operator1'] = 'eastern airlines'
airline_filtered_df.loc[airline_filtered_df['operator1'].str.contains('eastern air lines', na=False), 'operator1'] = 'eastern airlines'
airline_filtered_df.loc[airline_filtered_df['operator1'].str.contains('allegiant', na=False), 'operator1'] = 'allegiant'
airline_filtered_df.loc[airline_filtered_df['operator1'].str.contains('sun country', na=False), 'operator1'] = 'sun country'

In [13]:
airline_filtered_df['operator1'].replace(['', ' '], np.nan, inplace = True)
airline_filtered_df['operator1'].dropna(inplace = True)

There are many airlines in this set.  We will narrow it down to top ten airlines within the set.  This includes
* American
* United
* Delta
* Southwest
* US Airways
* Continental
* Hawaiian
* Spirit
* Alaska
* JetBlue
* Frontier
* Eastern
* Allegiant
* Sun Country

In [14]:
#Create list of airlines to keep
airlines = ['american', 'united', 'delta', 'southwest', 'us airways', 'continental', 'hawaiian', 'spirit', 'alaska', 'jetblue', 'frontier', 'eastern', 'allegiant', 'sun country']

In [15]:
#Trim dataset to just keep top airlines - must add copy to prevent slice warnings
airline_filtered_df = airline_filtered_df[airline_filtered_df['operator1'].isin(airlines)].copy()

In [16]:
# 997 observations of top ten airlines
airline_filtered_df.shape

(956, 17)

In [17]:
# Drop second operator columns ane rename operator1 to operator
airline_filtered_df.drop(columns = ['operator','operator2'], inplace = True)
airline_filtered_df.rename(columns = {'operator1':'operator'}, inplace = True)

In [18]:
airline_filtered_df['operator'].value_counts()

operator
american       230
united         197
delta          177
southwest       89
us airways      81
continental     81
alaska          27
jetblue         20
frontier        20
spirit          12
hawaiian        10
allegiant        8
sun country      4
Name: count, dtype: int64

#### Clean 'event_type' feature
___

In [19]:
# Only see five instances of 'OCC' and they all occur at very early rows in the dataset.  None of them look to have any injuries
# listed, so I will replace all values of 'OCC' with 'INC'.
airline_filtered_df['event_type'].value_counts()

event_type
ACC    514
INC    439
OCC      3
Name: count, dtype: int64

In [20]:
airline_filtered_df['event_type'] = airline_filtered_df['event_type'].str.replace('OCC', 'INC')

In [21]:
airline_filtered_df['event_type'].value_counts()

event_type
ACC    514
INC    442
Name: count, dtype: int64

#### Clean 'event_date' feature
___

In [22]:
# Only want the dates in the event date column and then change it to date time
airline_filtered_df['event_date']

0       2023-12-19T19:30:00Z
1       2023-11-30T08:14:00Z
4       2023-09-30T16:00:00Z
5       2023-09-28T09:57:00Z
6       2023-09-25T04:00:00Z
9       2023-09-07T03:32:00Z
12      2023-08-29T19:31:00Z
14      2023-08-21T00:15:00Z
15      2023-08-18T20:11:00Z
17      2023-08-11T20:06:00Z
19      2023-08-03T09:35:00Z
20      2023-08-03T03:06:00Z
21      2023-07-29T11:34:00Z
22      2023-07-28T09:16:00Z
23      2023-07-27T07:40:00Z
24      2023-07-24T16:30:00Z
25      2023-07-24T12:00:00Z
26      2023-07-23T04:00:00Z
28      2023-07-12T16:10:00Z
29      2023-06-28T11:19:00Z
30      2023-06-28T09:58:00Z
32      2023-06-01T18:06:00Z
33      2023-06-01T17:32:00Z
35      2023-05-05T05:54:00Z
36      2023-04-22T13:00:00Z
37      2023-04-17T16:09:00Z
38      2023-03-30T04:00:00Z
39      2023-03-24T07:15:00Z
40      2023-03-22T18:26:00Z
41      2023-03-21T16:23:00Z
42      2023-03-05T19:05:00Z
43      2023-03-02T16:20:00Z
45      2023-02-24T22:30:00Z
47      2023-02-16T22:59:00Z
48      2023-02-16T09:30:00Z
49      2023-02-10T23:51:00Z
50      2023-02-04T08:40:00Z
51      2023-02-04T05:00:00Z
52      2023-01-23T18:11:00Z
53      2023-01-13T22:44:00Z
54      2023-01-12T08:52:00Z
57      2022-12-18T16:51:00Z
58      2022-12-18T12:07:00Z
59      2022-12-18T05:00:00Z
60      2022-12-08T05:00:00Z
62      2022-11-30T01:00:00Z
63      2022-11-19T22:51:00Z
64      2022-11-10T05:00:00Z
65      2022-11-02T22:40:00Z
66      2022-11-02T04:00:00Z
68      2022-09-29T11:30:00Z
69      2022-09-22T13:00:00Z
70      2022-09-11T16:50:00Z
71      2022-09-04T21:35:00Z
72      2022-09-02T10:04:00Z
73      2022-09-01T22:18:00Z
74      2022-08-29T17:43:00Z
75      2022-08-19T20:17:00Z
76      2022-08-06T22:15:00Z
77      2022-07-07T21:00:00Z
78      2022-07-07T18:30:00Z
79      2022-07-01T18:21:00Z
80      2022-06-21T10:45:00Z
82      2022-05-25T02:10:00Z
83      2022-05-21T21:00:00Z
85      2022-05-10T07:15:00Z
86      2022-04-27T08:07:00Z
87      2022-04-08T04:00:00Z
89      2022-03-20T10:15:00Z
91      2022-02-08T08:50:00Z
92      2022-02-04T03:19:00Z
94      2022-01-22T13:57:00Z
96      2021-12-13T02:33:00Z
98      2021-11-24T21:36:00Z
99      2021-11-03T01:40:00Z
101     2021-10-08T21:30:00Z
102     2021-10-02T18:14:00Z
104     2021-09-27T10:38:00Z
105     2021-09-23T10:44:00Z
107     2021-09-01T04:29:00Z
108     2021-08-23T21:45:00Z
109     2021-08-21T15:00:00Z
110     2021-08-11T20:56:00Z
111     2021-07-29T06:00:00Z
112     2021-07-22T09:54:00Z
113     2021-07-20T13:16:00Z
114     2021-07-16T04:00:00Z
115     2021-07-04T21:41:00Z
117     2021-06-25T21:31:00Z
118     2021-06-10T18:45:00Z
119     2021-05-28T13:40:00Z
121     2021-05-21T13:30:00Z
123     2021-04-29T16:07:00Z
129     2021-03-15T16:00:00Z
130     2021-02-20T15:09:00Z
131     2021-02-08T10:30:00Z
132     2020-12-31T03:15:00Z
133     2020-12-30T02:34:00Z
134     2020-12-28T06:15:00Z
135     2020-12-23T14:30:00Z
136     2020-12-01T12:40:00Z
138     2020-10-24T12:53:00Z
139     2020-09-30T20:00:00Z
141     2020-08-24T18:25:00Z
145     2020-07-05T17:00:00Z
148     2020-03-21T08:38:00Z
151     2020-02-27T20:10:00Z
152     2020-02-15T09:42:00Z
153     2020-02-09T16:10:00Z
156     2020-01-22T05:00:00Z
157     2020-01-11T00:45:00Z
158     2020-01-08T18:30:00Z
159     2020-01-01T17:20:00Z
160     2019-12-22T20:59:00Z
161     2019-12-21T22:19:00Z
162     2019-12-19T12:20:00Z
163     2019-12-18T13:09:00Z
164     2019-12-16T19:11:00Z
172     2019-09-11T04:00:00Z
173     2019-09-06T17:00:00Z
174     2019-08-27T07:50:00Z
175     2019-08-26T21:37:00Z
176     2019-08-18T09:24:00Z
177     2019-08-17T04:00:00Z
178     2019-08-08T17:30:00Z
179     2019-08-08T14:30:00Z
180     2019-08-06T00:00:00Z
182     2019-07-23T01:48:00Z
183     2019-07-22T04:17:00Z
184     2019-07-11T04:00:00Z
185     2019-06-17T11:20:00Z
186     2019-06-15T13:55:00Z
187     2019-06-09T16:55:00Z
189     2019-05-28T15:00:00Z
190     2019-05-25T18:15:00Z
192     2019-04-12T00:16:00Z
193     2019-04-10T21:40:00Z
194     2019-04-04T21:19:00Z
195     2019-03-27T20:25:00Z
196     2019-03-10T22:17:00Z
199     2019-02-27T15:30:00Z
201     2019-02-21T09:27:00Z
202     2019-02-17T20:04:00Z
204     2019-02-05T09:47:00Z
205     2019-02-03T03:10:00Z
207     2019-01-28T08:17:00Z
208     2018-12-31T14:40:00Z
210     2018-12-06T11:02:00Z
211     2018-12-04T20:00:00Z
212     2018-12-03T12:35:00Z
213     2018-12-01T04:07:00Z
216     2018-10-31T10:44:00Z
217     2018-10-16T04:00:00Z
218     2018-10-15T14:10:00Z
219     2018-10-12T10:16:00Z
220     2018-10-11T12:00:00Z
221     2018-10-10T00:00:00Z
222     2018-09-26T13:00:00Z
223     2018-09-23T22:45:00Z
224     2018-09-10T22:00:00Z
225     2018-09-06T13:45:00Z
226     2018-09-06T00:32:00Z
228     2018-08-18T19:00:00Z
229     2018-08-13T05:45:00Z
230     2018-07-31T14:15:00Z
232     2018-07-23T16:38:00Z
233     2018-07-23T16:31:00Z
236     2018-06-29T04:00:00Z
239     2018-06-12T12:44:00Z
240     2018-06-11T04:00:00Z
241     2018-06-10T21:43:00Z
243     2018-05-08T04:00:00Z
244     2018-05-07T01:08:00Z
245     2018-05-03T04:00:00Z
248     2018-04-18T19:09:00Z
249     2018-04-17T12:03:00Z
250     2018-04-11T17:59:00Z
251     2018-04-10T05:00:00Z
252     2018-02-24T14:58:00Z
253     2018-02-14T00:00:00Z
254     2018-02-13T15:02:00Z
256     2017-12-29T20:40:00Z
260     2017-12-12T09:35:00Z
261     2017-12-06T05:07:00Z
262     2017-12-03T20:25:00Z
263     2017-11-29T13:06:00Z
265     2017-11-19T14:30:00Z
266     2017-11-08T00:45:00Z
267     2017-10-02T09:40:00Z
268     2017-09-30T11:50:00Z
269     2017-09-25T17:00:00Z
270     2017-09-15T04:00:00Z
272     2017-09-12T14:10:00Z
273     2017-09-06T01:19:00Z
274     2017-09-04T16:31:00Z
275     2017-08-23T11:13:00Z
277     2017-08-15T19:15:00Z
278     2017-08-13T14:20:00Z
280     2017-08-05T15:35:00Z
285     2017-06-30T22:30:00Z
286     2017-06-23T14:38:00Z
288     2017-06-07T10:50:00Z
289     2017-06-03T09:55:00Z
290     2017-05-21T20:30:00Z
291     2017-05-20T22:18:00Z
292     2017-05-02T20:30:00Z
293     2017-04-14T17:00:00Z
294     2017-03-19T13:11:00Z
295     2017-03-09T21:15:00Z
297     2017-03-06T12:10:00Z
299     2017-02-20T19:38:00Z
303     2017-02-11T21:50:00Z
304     2017-01-26T23:50:00Z
307     2016-12-13T20:47:00Z
310     2016-11-21T00:23:00Z
312     2016-10-28T04:00:00Z
314     2016-10-26T16:50:00Z
315     2016-10-21T09:22:00Z
316     2016-10-05T18:25:00Z
318     2016-08-31T03:10:00Z
319     2016-08-27T10:30:00Z
320     2016-08-17T13:15:00Z
321     2016-08-11T21:09:00Z
322     2016-08-09T21:30:00Z
323     2016-08-04T22:02:00Z
324     2016-08-03T20:45:00Z
325     2016-07-28T02:11:00Z
327     2016-07-07T21:42:00Z
328     2016-07-07T14:07:00Z
329     2016-06-26T14:00:00Z
330     2016-06-26T09:00:00Z
331     2016-06-12T17:45:00Z
333     2016-06-05T10:30:00Z
334     2016-05-14T20:00:00Z
337     2016-04-14T17:24:00Z
339     2016-03-14T22:56:00Z
340     2016-03-05T08:31:00Z
342     2016-02-17T08:10:00Z
343     2016-02-14T18:35:00Z
345     2016-01-29T09:05:00Z
346     2016-01-28T20:30:00Z
348     2016-01-24T19:22:00Z
350     2015-12-26T14:41:00Z
351     2015-12-23T03:16:00Z
352     2015-12-19T10:31:00Z
353     2015-12-15T19:30:00Z
354     2015-12-12T13:26:00Z
355     2015-12-10T15:53:00Z
356     2015-12-06T14:05:00Z
357     2015-11-29T19:15:00Z
358     2015-11-23T17:44:00Z
359     2015-11-07T07:00:00Z
361     2015-10-24T10:35:00Z
362     2015-10-21T18:56:00Z
363     2015-10-09T18:00:00Z
364     2015-10-02T06:10:00Z
365     2015-10-01T12:18:00Z
366     2015-08-23T12:30:00Z
367     2015-08-15T19:37:00Z
368     2015-08-07T21:02:00Z
370     2015-08-04T19:00:00Z
371     2015-06-30T07:49:00Z
372     2015-06-29T03:30:00Z
373     2015-06-29T00:20:00Z
375     2015-06-08T18:00:00Z
377     2015-05-23T17:41:00Z
378     2015-05-04T22:05:00Z
380     2015-04-12T09:21:00Z
381     2015-03-19T21:15:00Z
383     2015-03-05T05:00:00Z
385     2015-02-17T23:45:00Z
386     2015-02-15T03:03:00Z
387     2015-02-10T00:07:00Z
388     2014-12-12T22:30:00Z
389     2014-12-11T10:30:00Z
390     2014-11-24T21:20:00Z
391     2014-11-20T22:00:00Z
394     2014-10-10T14:00:00Z
396     2014-10-03T11:00:00Z
397     2014-09-21T15:05:00Z
398     2014-09-18T17:30:00Z
399     2014-09-15T21:27:00Z
404     2014-08-18T14:21:00Z
406     2014-08-14T10:41:00Z
409     2014-07-29T23:40:00Z
410     2014-07-11T14:45:00Z
412     2014-06-17T10:30:00Z
413     2014-06-17T04:00:00Z
418     2014-03-17T03:00:00Z
419     2014-03-13T19:22:00Z
420     2014-03-05T01:00:00Z
422     2014-02-17T14:54:00Z
424     2014-01-31T10:30:00Z
425     2014-01-12T20:10:00Z
426     2014-01-10T09:00:00Z
427     2014-01-09T20:30:00Z
428     2014-01-03T19:20:00Z
429     2013-12-23T18:15:00Z
436     2013-10-18T06:00:00Z
437     2013-10-15T15:51:00Z
438     2013-09-29T10:22:00Z
440     2013-08-14T05:40:00Z
442     2013-07-22T18:00:00Z
443     2013-07-12T06:38:00Z
444     2013-06-13T11:40:00Z
445     2013-06-04T04:00:00Z
448     2013-05-10T10:07:00Z
449     2013-05-09T15:46:00Z
453     2013-03-07T21:21:00Z
456     2013-02-19T17:00:00Z
459     2012-12-31T05:00:00Z
460     2012-12-28T22:32:00Z
463     2012-11-06T21:00:00Z
464     2012-10-16T19:30:00Z
466     2012-10-04T21:10:00Z
467     2012-09-18T13:30:00Z
468     2012-09-13T23:30:00Z
471     2012-08-27T16:12:00Z
473     2012-07-31T10:09:00Z
474     2012-07-27T15:14:00Z
475     2012-07-18T23:00:00Z
476     2012-07-05T06:22:00Z
478     2012-06-17T17:08:00Z
479     2012-06-12T21:17:00Z
480     2012-06-11T00:20:00Z
481     2012-06-07T13:16:00Z
484     2012-05-10T14:53:00Z
486     2012-04-15T06:49:00Z
489     2012-03-20T09:30:00Z
491     2012-02-26T11:06:00Z
493     2012-02-23T16:30:00Z
494     2012-02-18T21:00:00Z
498     2012-02-08T13:09:00Z
501     2012-01-24T21:27:00Z
503     2012-01-14T05:00:00Z
504     2011-12-22T16:37:00Z
505     2011-12-08T21:15:00Z
507     2011-12-01T21:53:00Z
508     2011-12-01T15:39:00Z
510     2011-11-18T20:27:00Z
511     2011-11-10T13:45:00Z
512     2011-10-23T17:00:00Z
514     2011-10-19T21:48:00Z
515     2011-10-12T13:37:00Z
516     2011-10-10T16:03:00Z
517     2011-10-07T08:26:00Z
518     2011-09-29T17:27:00Z
519     2011-09-26T17:37:00Z
521     2011-09-06T13:09:00Z
526     2011-08-06T12:52:00Z
527     2011-07-29T06:58:00Z
529     2011-06-27T05:58:00Z
531     2011-06-21T01:07:00Z
533     2011-06-11T18:58:00Z
537     2011-06-03T07:05:00Z
538     2011-05-31T13:15:00Z
539     2011-05-23T16:20:00Z
543     2011-05-12T19:05:00Z
544     2011-05-09T05:06:00Z
545     2011-05-06T03:00:00Z
546     2011-04-26T14:33:00Z
547     2011-04-25T17:25:00Z
549     2011-04-14T09:30:00Z
551     2011-04-11T08:00:00Z
552     2011-04-04T08:25:00Z
555     2011-04-01T16:57:00Z
558     2011-03-26T08:29:00Z
560     2011-03-22T21:38:00Z
563     2011-03-11T15:21:00Z
564     2011-02-28T00:39:00Z
565     2011-02-25T01:30:00Z
566     2011-02-20T21:24:00Z
567     2011-02-19T20:43:00Z
568     2011-02-09T08:30:00Z
571     2011-01-03T12:17:00Z
573     2010-12-29T13:38:00Z
574     2010-12-24T22:20:00Z
575     2010-12-18T13:00:00Z
576     2010-12-09T13:25:00Z
579     2010-11-30T21:53:00Z
583     2010-11-23T15:40:00Z
585     2010-11-12T00:31:00Z
586     2010-11-08T16:07:00Z
589     2010-10-26T22:30:00Z
596     2010-09-16T07:49:00Z
598     2010-09-03T16:45:00Z
599     2010-08-26T13:51:00Z
602     2010-08-04T16:47:00Z
604     2010-07-17T23:26:00Z
605     2010-07-15T03:00:00Z
606     2010-06-28T18:52:00Z
607     2010-06-19T19:11:00Z
609     2010-06-16T14:30:00Z
610     2010-06-05T18:20:00Z
611     2010-05-25T14:05:00Z
613     2010-05-21T01:10:00Z
616     2010-05-07T18:00:00Z
618     2010-04-29T22:40:00Z
620     2010-04-28T13:25:00Z
621     2010-04-21T22:53:00Z
622     2010-04-19T11:58:00Z
624     2010-04-17T10:00:00Z
625     2010-04-13T14:05:00Z
626     2010-04-09T20:30:00Z
628     2010-04-05T07:29:00Z
631     2010-03-25T14:04:00Z
635     2010-03-11T12:20:00Z
636     2010-02-20T01:58:00Z
638     2010-02-13T16:45:00Z
640     2010-01-11T22:00:00Z
641     2010-01-10T11:15:00Z
644     2009-12-23T00:22:00Z
645     2009-12-18T13:15:00Z
646     2009-12-14T00:46:00Z
648     2009-11-18T21:30:00Z
649     2009-11-14T20:00:00Z
650     2009-11-02T10:50:00Z
651     2009-10-27T18:15:00Z
655     2009-10-19T07:05:00Z
656     2009-10-06T00:44:00Z
657     2009-09-17T20:28:00Z
658     2009-09-08T12:54:00Z
659     2009-09-07T22:00:00Z
660     2009-09-03T14:35:00Z
665     2009-08-03T04:55:00Z
668     2009-07-20T15:44:00Z
669     2009-07-15T09:30:00Z
670     2009-07-13T18:45:00Z
672     2009-07-10T17:08:00Z
673     2009-06-26T09:56:00Z
674     2009-06-18T07:36:00Z
676     2009-06-10T13:30:00Z
679     2009-05-21T17:25:00Z
680     2009-05-20T13:30:00Z
681     2009-05-16T12:45:00Z
682     2009-05-12T20:45:00Z
686     2009-04-18T02:52:00Z
688     2009-03-28T14:00:00Z
696     2009-01-15T17:30:00Z
697     2009-01-02T12:28:00Z
701     2008-12-26T10:59:00Z
702     2008-12-24T09:00:00Z
704     2008-12-20T20:18:00Z
705     2008-12-20T09:47:00Z
708     2008-12-11T19:12:00Z
710     2008-11-26T21:25:00Z
713     2008-11-07T18:15:00Z
714     2008-10-20T13:42:00Z
715     2008-10-01T11:55:00Z
716     2008-09-22T18:50:00Z
717     2008-09-22T14:42:00Z
722     2008-08-06T16:40:00Z
727     2008-07-06T02:15:00Z
731     2008-06-27T04:00:00Z
733     2008-05-27T11:00:00Z
741     2008-03-27T19:08:00Z
743     2008-03-22T10:00:00Z
744     2008-03-01T12:12:00Z
745     2008-02-25T23:16:00Z
746     2008-02-24T15:40:00Z
747     2008-02-22T22:00:00Z
753     2008-01-30T22:22:00Z
754     2008-01-25T11:45:00Z
759     2007-12-25T11:18:00Z
767     2007-11-22T12:45:00Z
770     2007-10-28T10:48:00Z
773     2007-10-09T21:30:00Z
774     2007-09-28T14:16:00Z
775     2007-08-20T10:29:00Z
778     2007-08-02T18:40:00Z
779     2007-07-12T11:00:00Z
780     2007-07-11T15:37:00Z
782     2007-07-08T15:30:00Z
783     2007-07-05T10:16:00Z
786     2007-06-23T22:49:00Z
792     2007-05-12T04:00:00Z
797     2007-04-22T07:24:00Z
799     2007-04-12T14:15:00Z
802     2007-03-29T17:16:00Z
803     2007-03-16T23:20:00Z
804     2007-03-15T22:35:00Z
805     2007-02-26T12:00:00Z
809     2007-02-16T14:35:00Z
813     2007-01-10T18:30:00Z
817     2006-12-15T19:08:00Z
820     2006-11-07T10:14:00Z
823     2006-10-28T19:31:00Z
824     2006-10-23T15:00:00Z
827     2006-09-22T04:00:00Z
831     2006-09-05T18:01:00Z
832     2006-08-31T14:20:00Z
834     2006-08-21T07:30:00Z
835     2006-08-20T19:09:00Z
837     2006-07-27T10:45:00Z
839     2006-07-24T11:00:00Z
840     2006-07-23T23:00:00Z
850     2006-05-18T15:27:00Z
857     2006-04-19T07:55:00Z
860     2006-03-23T11:07:00Z
861     2006-03-21T11:12:00Z
866     2006-02-08T01:59:00Z
867     2006-01-27T19:44:00Z
869     2006-01-16T11:05:00Z
870     2006-01-02T16:39:00Z
874     2005-12-15T20:05:00Z
881     2005-11-09T20:26:00Z
882     2005-11-06T14:38:00Z
883     2005-11-06T09:45:00Z
884     2005-10-30T01:00:00Z
890     2005-10-10T12:20:00Z
893     2005-09-21T19:18:00Z
894     2005-09-18T19:12:00Z
896     2005-08-20T09:54:00Z
898     2005-08-08T13:30:00Z
907     2005-06-19T22:20:00Z
919     2005-05-28T17:20:00Z
920     2005-05-20T07:35:00Z
926     2005-04-29T08:31:00Z
930     2005-03-14T02:00:00Z
932     2005-03-11T02:00:00Z
934     2005-03-02T17:50:00Z
939     2005-01-19T12:25:00Z
948     2004-11-21T12:38:00Z
951     2004-10-25T19:30:00Z
958     2004-08-30T20:05:00Z
965     2004-07-25T02:15:00Z
998     2003-11-29T10:40:00Z
999     2003-11-14T14:50:00Z
1002    2003-11-01T14:15:00Z
1005    2003-10-07T12:57:00Z
1009    2003-09-25T07:50:00Z
1014    2003-09-02T12:39:00Z
1021    2003-08-03T23:07:00Z
1026    2003-06-23T08:10:00Z
1029    2003-06-12T05:47:00Z
1037    2003-05-21T23:10:00Z
1040    2003-05-07T17:15:00Z
1052    2003-04-01T13:15:00Z
1062    2003-02-08T19:04:00Z
1063    2003-02-01T13:00:00Z
1066    2003-01-16T10:15:00Z
1068    2003-01-11T02:45:00Z
1075    2002-11-09T15:50:00Z
1089    2002-08-24T22:36:00Z
1096    2002-07-02T10:22:00Z
1109    2002-05-29T14:08:00Z
1111    2002-05-11T18:45:00Z
1124    2002-03-17T04:00:00Z
1134    2002-02-03T05:00:00Z
1142    2001-12-13T14:03:00Z
1143    2001-12-04T16:00:00Z
1145    2001-11-28T05:00:00Z
1150    2001-10-29T21:50:00Z
1152    2001-10-13T20:00:00Z
1158    2001-09-11T09:45:00Z
1159    2001-09-11T04:00:00Z
1160    2001-09-11T04:00:00Z
1161    2001-09-11T04:00:00Z
1162    2001-09-07T13:15:00Z
1167    2001-08-16T11:24:00Z
1175    2001-07-08T13:53:00Z
1181    2001-05-28T10:40:00Z
1186    2001-04-26T15:35:00Z
1188    2001-04-25T19:15:00Z
1192    2001-04-09T09:00:00Z
1193    2001-03-27T13:32:00Z
1199    2001-03-06T09:40:00Z
1202    2001-03-05T05:00:00Z
1212    2001-01-10T12:25:00Z
1219    2000-12-27T23:10:00Z
1223    2000-12-24T01:53:00Z
1231    2000-11-20T14:22:00Z
1240    2000-10-10T04:00:00Z
1242    2000-10-01T17:18:00Z
1249    2000-09-10T10:38:00Z
1250    2000-09-07T04:00:00Z
1255    2000-08-16T12:40:00Z
1256    2000-08-12T14:03:00Z
1258    2000-08-06T14:00:00Z
1273    2000-05-20T21:10:00Z
1279    2000-04-25T20:42:00Z
1286    2000-04-01T22:00:00Z
1287    2000-03-30T22:25:00Z
1290    2000-03-21T21:14:00Z
1294    2000-03-13T22:06:00Z
1298    2000-03-07T08:15:00Z
1299    2000-03-05T20:11:00Z
1306    2000-02-14T13:37:00Z
1311    2000-01-31T18:20:00Z
1314    1999-12-24T15:49:00Z
1316    1999-12-13T05:00:00Z
1321    1999-11-11T17:20:00Z
1323    1999-11-05T05:00:00Z
1324    1999-11-02T08:40:00Z
1337    1999-09-12T09:52:00Z
1338    1999-09-12T08:11:00Z
1340    1999-09-02T15:06:00Z
1343    1999-08-13T23:14:00Z
1350    1999-07-15T18:20:00Z
1351    1999-07-08T15:10:00Z
1357    1999-06-25T15:40:00Z
1360    1999-06-09T04:00:00Z
1361    1999-06-09T04:00:00Z
1364    1999-05-28T16:10:00Z
1367    1999-05-11T15:45:00Z
1368    1999-05-08T08:01:00Z
1375    1999-03-17T17:40:00Z
1376    1999-03-11T01:25:00Z
1378    1999-03-03T17:30:00Z
1387    1999-02-05T13:10:00Z
1392    1999-01-15T05:00:00Z
1393    1999-01-13T18:55:00Z
1397    1998-12-17T20:40:00Z
1398    1998-12-15T14:16:00Z
1402    1998-11-29T17:25:00Z
1404    1998-11-11T07:20:00Z
1405    1998-11-08T23:00:00Z
1406    1998-11-06T20:20:00Z
1415    1998-10-08T04:00:00Z
1416    1998-10-07T08:09:00Z
1417    1998-10-04T03:11:00Z
1418    1998-09-28T04:00:00Z
1421    1998-09-20T06:55:00Z
1422    1998-09-20T04:00:00Z
1423    1998-09-17T20:33:00Z
1424    1998-09-16T23:53:00Z
1431    1998-08-08T01:12:00Z
1433    1998-07-31T04:00:00Z
1434    1998-07-29T04:00:00Z
1437    1998-07-22T14:45:00Z
1440    1998-07-09T11:07:00Z
1441    1998-07-09T04:00:00Z
1445    1998-06-04T04:00:00Z
1447    1998-05-21T14:05:00Z
1450    1998-05-11T04:00:00Z
1456    1998-04-20T04:00:00Z
1463    1998-03-11T21:40:00Z
1466    1998-03-08T05:00:00Z
1467    1998-03-08T05:00:00Z
1474    1998-02-09T10:47:00Z
1475    1998-02-06T17:00:00Z
1476    1998-01-21T23:23:00Z
1478    1998-01-09T05:00:00Z
1479    1998-01-06T20:15:00Z
1485    1997-12-15T17:26:00Z
1495    1997-10-04T09:10:00Z
1498    1997-09-27T09:49:00Z
1501    1997-09-24T12:27:00Z
1502    1997-09-14T15:24:00Z
1503    1997-09-06T21:40:00Z
1504    1997-09-01T22:10:00Z
1505    1997-08-24T13:50:00Z
1511    1997-08-03T00:20:00Z
1528    1997-06-03T23:05:00Z
1535    1997-05-12T16:29:00Z
1536    1997-05-11T11:21:00Z
1539    1997-05-04T14:25:00Z
1555    1997-03-18T15:32:00Z
1558    1997-03-05T22:07:00Z
1567    1997-02-06T16:40:00Z
1577    1996-12-22T19:00:00Z
1582    1996-12-11T15:38:00Z
1585    1996-11-23T18:22:00Z
1589    1996-11-11T22:30:00Z
1592    1996-10-29T00:31:00Z
1594    1996-10-19T17:38:00Z
1597    1996-08-29T16:53:00Z
1604    1996-07-13T21:40:00Z
1605    1996-07-11T14:00:00Z
1611    1996-06-22T16:45:00Z
1612    1996-06-20T00:22:00Z
1617    1996-06-06T22:05:00Z
1618    1996-06-05T18:03:00Z
1626    1996-05-12T21:25:00Z
1640    1996-02-20T23:58:00Z
1643    1996-02-20T09:15:00Z
1645    1996-02-20T02:02:00Z
1646    1996-02-19T11:02:00Z
1647    1996-02-04T18:47:00Z
1653    1995-12-29T12:17:00Z
1660    1995-11-25T17:23:00Z
1663    1995-11-07T16:56:00Z
1664    1995-11-07T11:00:00Z
1667    1995-10-30T19:10:00Z
1675    1995-08-25T12:30:00Z
1679    1995-08-17T19:27:00Z
1681    1995-08-05T21:10:00Z
1682    1995-08-05T10:00:00Z
1685    1995-07-28T08:37:00Z

In [23]:
airline_filtered_df['event_date'] = airline_filtered_df['event_date'].str[:10]
airline_filtered_df['event_date'] = pd.to_datetime(airline_filtered_df['event_date'])

In [24]:
airline_filtered_df['event_date']

0      2023-12-19
1      2023-11-30
4      2023-09-30
5      2023-09-28
6      2023-09-25
9      2023-09-07
12     2023-08-29
14     2023-08-21
15     2023-08-18
17     2023-08-11
19     2023-08-03
20     2023-08-03
21     2023-07-29
22     2023-07-28
23     2023-07-27
24     2023-07-24
25     2023-07-24
26     2023-07-23
28     2023-07-12
29     2023-06-28
30     2023-06-28
32     2023-06-01
33     2023-06-01
35     2023-05-05
36     2023-04-22
37     2023-04-17
38     2023-03-30
39     2023-03-24
40     2023-03-22
41     2023-03-21
42     2023-03-05
43     2023-03-02
45     2023-02-24
47     2023-02-16
48     2023-02-16
49     2023-02-10
50     2023-02-04
51     2023-02-04
52     2023-01-23
53     2023-01-13
54     2023-01-12
57     2022-12-18
58     2022-12-18
59     2022-12-18
60     2022-12-08
62     2022-11-30
63     2022-11-19
64     2022-11-10
65     2022-11-02
66     2022-11-02
68     2022-09-29
69     2022-09-22
70     2022-09-11
71     2022-09-04
72     2022-09-02
73     2022-09-01
74     2022-08-29
75     2022-08-19
76     2022-08-06
77     2022-07-07
78     2022-07-07
79     2022-07-01
80     2022-06-21
82     2022-05-25
83     2022-05-21
85     2022-05-10
86     2022-04-27
87     2022-04-08
89     2022-03-20
91     2022-02-08
92     2022-02-04
94     2022-01-22
96     2021-12-13
98     2021-11-24
99     2021-11-03
101    2021-10-08
102    2021-10-02
104    2021-09-27
105    2021-09-23
107    2021-09-01
108    2021-08-23
109    2021-08-21
110    2021-08-11
111    2021-07-29
112    2021-07-22
113    2021-07-20
114    2021-07-16
115    2021-07-04
117    2021-06-25
118    2021-06-10
119    2021-05-28
121    2021-05-21
123    2021-04-29
129    2021-03-15
130    2021-02-20
131    2021-02-08
132    2020-12-31
133    2020-12-30
134    2020-12-28
135    2020-12-23
136    2020-12-01
138    2020-10-24
139    2020-09-30
141    2020-08-24
145    2020-07-05
148    2020-03-21
151    2020-02-27
152    2020-02-15
153    2020-02-09
156    2020-01-22
157    2020-01-11
158    2020-01-08
159    2020-01-01
160    2019-12-22
161    2019-12-21
162    2019-12-19
163    2019-12-18
164    2019-12-16
172    2019-09-11
173    2019-09-06
174    2019-08-27
175    2019-08-26
176    2019-08-18
177    2019-08-17
178    2019-08-08
179    2019-08-08
180    2019-08-06
182    2019-07-23
183    2019-07-22
184    2019-07-11
185    2019-06-17
186    2019-06-15
187    2019-06-09
189    2019-05-28
190    2019-05-25
192    2019-04-12
193    2019-04-10
194    2019-04-04
195    2019-03-27
196    2019-03-10
199    2019-02-27
201    2019-02-21
202    2019-02-17
204    2019-02-05
205    2019-02-03
207    2019-01-28
208    2018-12-31
210    2018-12-06
211    2018-12-04
212    2018-12-03
213    2018-12-01
216    2018-10-31
217    2018-10-16
218    2018-10-15
219    2018-10-12
220    2018-10-11
221    2018-10-10
222    2018-09-26
223    2018-09-23
224    2018-09-10
225    2018-09-06
226    2018-09-06
228    2018-08-18
229    2018-08-13
230    2018-07-31
232    2018-07-23
233    2018-07-23
236    2018-06-29
239    2018-06-12
240    2018-06-11
241    2018-06-10
243    2018-05-08
244    2018-05-07
245    2018-05-03
248    2018-04-18
249    2018-04-17
250    2018-04-11
251    2018-04-10
252    2018-02-24
253    2018-02-14
254    2018-02-13
256    2017-12-29
260    2017-12-12
261    2017-12-06
262    2017-12-03
263    2017-11-29
265    2017-11-19
266    2017-11-08
267    2017-10-02
268    2017-09-30
269    2017-09-25
270    2017-09-15
272    2017-09-12
273    2017-09-06
274    2017-09-04
275    2017-08-23
277    2017-08-15
278    2017-08-13
280    2017-08-05
285    2017-06-30
286    2017-06-23
288    2017-06-07
289    2017-06-03
290    2017-05-21
291    2017-05-20
292    2017-05-02
293    2017-04-14
294    2017-03-19
295    2017-03-09
297    2017-03-06
299    2017-02-20
303    2017-02-11
304    2017-01-26
307    2016-12-13
310    2016-11-21
312    2016-10-28
314    2016-10-26
315    2016-10-21
316    2016-10-05
318    2016-08-31
319    2016-08-27
320    2016-08-17
321    2016-08-11
322    2016-08-09
323    2016-08-04
324    2016-08-03
325    2016-07-28
327    2016-07-07
328    2016-07-07
329    2016-06-26
330    2016-06-26
331    2016-06-12
333    2016-06-05
334    2016-05-14
337    2016-04-14
339    2016-03-14
340    2016-03-05
342    2016-02-17
343    2016-02-14
345    2016-01-29
346    2016-01-28
348    2016-01-24
350    2015-12-26
351    2015-12-23
352    2015-12-19
353    2015-12-15
354    2015-12-12
355    2015-12-10
356    2015-12-06
357    2015-11-29
358    2015-11-23
359    2015-11-07
361    2015-10-24
362    2015-10-21
363    2015-10-09
364    2015-10-02
365    2015-10-01
366    2015-08-23
367    2015-08-15
368    2015-08-07
370    2015-08-04
371    2015-06-30
372    2015-06-29
373    2015-06-29
375    2015-06-08
377    2015-05-23
378    2015-05-04
380    2015-04-12
381    2015-03-19
383    2015-03-05
385    2015-02-17
386    2015-02-15
387    2015-02-10
388    2014-12-12
389    2014-12-11
390    2014-11-24
391    2014-11-20
394    2014-10-10
396    2014-10-03
397    2014-09-21
398    2014-09-18
399    2014-09-15
404    2014-08-18
406    2014-08-14
409    2014-07-29
410    2014-07-11
412    2014-06-17
413    2014-06-17
418    2014-03-17
419    2014-03-13
420    2014-03-05
422    2014-02-17
424    2014-01-31
425    2014-01-12
426    2014-01-10
427    2014-01-09
428    2014-01-03
429    2013-12-23
436    2013-10-18
437    2013-10-15
438    2013-09-29
440    2013-08-14
442    2013-07-22
443    2013-07-12
444    2013-06-13
445    2013-06-04
448    2013-05-10
449    2013-05-09
453    2013-03-07
456    2013-02-19
459    2012-12-31
460    2012-12-28
463    2012-11-06
464    2012-10-16
466    2012-10-04
467    2012-09-18
468    2012-09-13
471    2012-08-27
473    2012-07-31
474    2012-07-27
475    2012-07-18
476    2012-07-05
478    2012-06-17
479    2012-06-12
480    2012-06-11
481    2012-06-07
484    2012-05-10
486    2012-04-15
489    2012-03-20
491    2012-02-26
493    2012-02-23
494    2012-02-18
498    2012-02-08
501    2012-01-24
503    2012-01-14
504    2011-12-22
505    2011-12-08
507    2011-12-01
508    2011-12-01
510    2011-11-18
511    2011-11-10
512    2011-10-23
514    2011-10-19
515    2011-10-12
516    2011-10-10
517    2011-10-07
518    2011-09-29
519    2011-09-26
521    2011-09-06
526    2011-08-06
527    2011-07-29
529    2011-06-27
531    2011-06-21
533    2011-06-11
537    2011-06-03
538    2011-05-31
539    2011-05-23
543    2011-05-12
544    2011-05-09
545    2011-05-06
546    2011-04-26
547    2011-04-25
549    2011-04-14
551    2011-04-11
552    2011-04-04
555    2011-04-01
558    2011-03-26
560    2011-03-22
563    2011-03-11
564    2011-02-28
565    2011-02-25
566    2011-02-20
567    2011-02-19
568    2011-02-09
571    2011-01-03
573    2010-12-29
574    2010-12-24
575    2010-12-18
576    2010-12-09
579    2010-11-30
583    2010-11-23
585    2010-11-12
586    2010-11-08
589    2010-10-26
596    2010-09-16
598    2010-09-03
599    2010-08-26
602    2010-08-04
604    2010-07-17
605    2010-07-15
606    2010-06-28
607    2010-06-19
609    2010-06-16
610    2010-06-05
611    2010-05-25
613    2010-05-21
616    2010-05-07
618    2010-04-29
620    2010-04-28
621    2010-04-21
622    2010-04-19
624    2010-04-17
625    2010-04-13
626    2010-04-09
628    2010-04-05
631    2010-03-25
635    2010-03-11
636    2010-02-20
638    2010-02-13
640    2010-01-11
641    2010-01-10
644    2009-12-23
645    2009-12-18
646    2009-12-14
648    2009-11-18
649    2009-11-14
650    2009-11-02
651    2009-10-27
655    2009-10-19
656    2009-10-06
657    2009-09-17
658    2009-09-08
659    2009-09-07
660    2009-09-03
665    2009-08-03
668    2009-07-20
669    2009-07-15
670    2009-07-13
672    2009-07-10
673    2009-06-26
674    2009-06-18
676    2009-06-10
679    2009-05-21
680    2009-05-20
681    2009-05-16
682    2009-05-12
686    2009-04-18
688    2009-03-28
696    2009-01-15
697    2009-01-02
701    2008-12-26
702    2008-12-24
704    2008-12-20
705    2008-12-20
708    2008-12-11
710    2008-11-26
713    2008-11-07
714    2008-10-20
715    2008-10-01
716    2008-09-22
717    2008-09-22
722    2008-08-06
727    2008-07-06
731    2008-06-27
733    2008-05-27
741    2008-03-27
743    2008-03-22
744    2008-03-01
745    2008-02-25
746    2008-02-24
747    2008-02-22
753    2008-01-30
754    2008-01-25
759    2007-12-25
767    2007-11-22
770    2007-10-28
773    2007-10-09
774    2007-09-28
775    2007-08-20
778    2007-08-02
779    2007-07-12
780    2007-07-11
782    2007-07-08
783    2007-07-05
786    2007-06-23
792    2007-05-12
797    2007-04-22
799    2007-04-12
802    2007-03-29
803    2007-03-16
804    2007-03-15
805    2007-02-26
809    2007-02-16
813    2007-01-10
817    2006-12-15
820    2006-11-07
823    2006-10-28
824    2006-10-23
827    2006-09-22
831    2006-09-05
832    2006-08-31
834    2006-08-21
835    2006-08-20
837    2006-07-27
839    2006-07-24
840    2006-07-23
850    2006-05-18
857    2006-04-19
860    2006-03-23
861    2006-03-21
866    2006-02-08
867    2006-01-27
869    2006-01-16
870    2006-01-02
874    2005-12-15
881    2005-11-09
882    2005-11-06
883    2005-11-06
884    2005-10-30
890    2005-10-10
893    2005-09-21
894    2005-09-18
896    2005-08-20
898    2005-08-08
907    2005-06-19
919    2005-05-28
920    2005-05-20
926    2005-04-29
930    2005-03-14
932    2005-03-11
934    2005-03-02
939    2005-01-19
948    2004-11-21
951    2004-10-25
958    2004-08-30
965    2004-07-25
998    2003-11-29
999    2003-11-14
1002   2003-11-01
1005   2003-10-07
1009   2003-09-25
1014   2003-09-02
1021   2003-08-03
1026   2003-06-23
1029   2003-06-12
1037   2003-05-21
1040   2003-05-07
1052   2003-04-01
1062   2003-02-08
1063   2003-02-01
1066   2003-01-16
1068   2003-01-11
1075   2002-11-09
1089   2002-08-24
1096   2002-07-02
1109   2002-05-29
1111   2002-05-11
1124   2002-03-17
1134   2002-02-03
1142   2001-12-13
1143   2001-12-04
1145   2001-11-28
1150   2001-10-29
1152   2001-10-13
1158   2001-09-11
1159   2001-09-11
1160   2001-09-11
1161   2001-09-11
1162   2001-09-07
1167   2001-08-16
1175   2001-07-08
1181   2001-05-28
1186   2001-04-26
1188   2001-04-25
1192   2001-04-09
1193   2001-03-27
1199   2001-03-06
1202   2001-03-05
1212   2001-01-10
1219   2000-12-27
1223   2000-12-24
1231   2000-11-20
1240   2000-10-10
1242   2000-10-01
1249   2000-09-10
1250   2000-09-07
1255   2000-08-16
1256   2000-08-12
1258   2000-08-06
1273   2000-05-20
1279   2000-04-25
1286   2000-04-01
1287   2000-03-30
1290   2000-03-21
1294   2000-03-13
1298   2000-03-07
1299   2000-03-05
1306   2000-02-14
1311   2000-01-31
1314   1999-12-24
1316   1999-12-13
1321   1999-11-11
1323   1999-11-05
1324   1999-11-02
1337   1999-09-12
1338   1999-09-12
1340   1999-09-02
1343   1999-08-13
1350   1999-07-15
1351   1999-07-08
1357   1999-06-25
1360   1999-06-09
1361   1999-06-09
1364   1999-05-28
1367   1999-05-11
1368   1999-05-08
1375   1999-03-17
1376   1999-03-11
1378   1999-03-03
1387   1999-02-05
1392   1999-01-15
1393   1999-01-13
1397   1998-12-17
1398   1998-12-15
1402   1998-11-29
1404   1998-11-11
1405   1998-11-08
1406   1998-11-06
1415   1998-10-08
1416   1998-10-07
1417   1998-10-04
1418   1998-09-28
1421   1998-09-20
1422   1998-09-20
1423   1998-09-17
1424   1998-09-16
1431   1998-08-08
1433   1998-07-31
1434   1998-07-29
1437   1998-07-22
1440   1998-07-09
1441   1998-07-09
1445   1998-06-04
1447   1998-05-21
1450   1998-05-11
1456   1998-04-20
1463   1998-03-11
1466   1998-03-08
1467   1998-03-08
1474   1998-02-09
1475   1998-02-06
1476   1998-01-21
1478   1998-01-09
1479   1998-01-06
1485   1997-12-15
1495   1997-10-04
1498   1997-09-27
1501   1997-09-24
1502   1997-09-14
1503   1997-09-06
1504   1997-09-01
1505   1997-08-24
1511   1997-08-03
1528   1997-06-03
1535   1997-05-12
1536   1997-05-11
1539   1997-05-04
1555   1997-03-18
1558   1997-03-05
1567   1997-02-06
1577   1996-12-22
1582   1996-12-11
1585   1996-11-23
1589   1996-11-11
1592   1996-10-29
1594   1996-10-19
1597   1996-08-29
1604   1996-07-13
1605   1996-07-11
1611   1996-06-22
1612   1996-06-20
1617   1996-06-06
1618   1996-06-05
1626   1996-05-12
1640   1996-02-20
1643   1996-02-20
1645   1996-02-20
1646   1996-02-19
1647   1996-02-04
1653   1995-12-29
1660   1995-11-25
1663   1995-11-07
1664   1995-11-07
1667   1995-10-30
1675   1995-08-25
1679   1995-08-17
1681   1995-08-05
1682   1995-08-05
1685   1995-07-28
1686   1995-07-25
1699   1995-06-03
1702   1995-05-19
1703   1995-05-19
1709   1995-04-19
1729   1995-01-06
1736   1994-11-26
1743   1994-10-31
1746   1994-09-08
1748   1994-08-19
1751   1994-07-08
1755   1994-07-01
1761   1994-05-01
1769   1994-03-02
1771   1994-02-26
1772   1994-02-12
1774   1994-02-09
1778   1994-01-19
1780   1994-01-01
1782   1993-12-06
1783   1993-11-15
1785   1993-10-19
1788   1993-09-21
1790   1993-09-15
1791   1993-09-13
1794   1993-09-03
1796   1993-08-27
1798   1993-08-02
1802   1993-07-16
1805   1993-06-18
1807   1993-06-08
1809   1993-05-07
1814   1993-04-26
1815   1993-04-26
1818   1993-04-14
1825   1993-03-15
1826   1993-03-15
1827   1993-03-13
1829   1993-03-09
1834   1993-02-23
1835   1993-02-13
1836   1993-02-13
1837   1993-02-11
1839   1993-01-26
1841   1993-01-10
1843   1993-01-08
1844   1993-01-05
1847   1992-12-08
1848   1992-11-27
1849   1992-11-13
1851   1992-10-12
1852   1992-10-12
1855   1992-09-23
1856   1992-09-20
1860   1992-08-21
1861   1992-08-14
1862   1992-08-06
1863   1992-08-03
1864   1992-08-02
1866   1992-07-17
1867   1992-07-15
1868   1992-07-02
1870   1992-06-02
1871   1992-05-14
1872   1992-05-13
1873   1992-05-04
1874   1992-04-23
1875   1992-04-15
1877   1992-03-27
1878   1992-03-22
1879   1992-03-21
1880   1992-03-19
1881   1992-03-03
1883   1992-02-09
1884   1992-02-08
1886   1992-01-18
1887   1992-01-12
1888   1992-01-09
1890   1992-01-07
1891   1992-01-03
1892   1991-12-23
1893   1991-12-18
1894   1991-12-13
1896   1991-12-07
1897   1991-11-30
1899   1991-11-20
1902   1991-10-30
1903   1991-10-28
1904   1991-10-24
1905   1991-10-23
1906   1991-10-16
1908   1991-10-05
1910   1991-09-28
1911   1991-09-23
1913   1991-09-20
1915   1991-08-29
1916   1991-08-28
1918   1991-07-27
1921   1991-07-13
1923   1991-07-04
1925   1991-07-01
1926   1991-06-06
1929   1991-05-15
1930   1991-05-11
1931   1991-05-05
1932   1991-05-04
1934   1991-04-29
1935   1991-04-25
1936   1991-04-09
1937   1991-03-23
1939   1991-03-03
1943   1991-02-01
1944   1991-01-25
1947   1991-01-07
1948   1991-01-03
1949   1990-12-19
1954   1990-11-11
1957   1990-10-29
1960   1990-09-19
1962   1990-08-27
1963   1990-08-21
1964   1990-08-12
1973   1990-07-18
1975   1990-07-04
1977   1990-06-21
1983   1990-05-11
1987   1990-03-17
1990   1990-03-13
1999   1990-01-20
2003   1990-01-16
2006   1990-01-02
2009   1989-12-21
2017   1989-10-27
2021   1989-10-07
2024   1989-09-21
2025   1989-09-13
2026   1989-09-12
2027   1989-09-08
2030   1989-08-19
2031   1989-08-10
2036   1989-07-25
2037   1989-07-19
2038   1989-07-18
2040   1989-07-12
2044   1989-06-06
2045   1989-05-28
2046   1989-05-24
2050   1989-05-10
2057   1989-03-23
2058   1989-03-21
2065   1989-03-01
2066   1989-02-24
2069   1989-02-13
2077   1989-01-09
2080   1988-12-30
2082   1988-12-23
2085   1988-12-19
2087   1988-11-27
2088   1988-11-15
2089   1988-11-14
2094   1988-10-24
2096   1988-10-17
2101   1988-09-21
2106   1988-08-30
2108   1988-08-26
2110   1988-08-20
2112   1988-08-10
2118   1988-07-24
2119   1988-07-14
2123   1988-06-26
2125   1988-06-12
2128   1988-05-23
2129   1988-05-21
2130   1988-05-11
2133   1988-05-02
2136   1988-04-17
2140   1988-04-13
2142   1988-04-03
2146   1988-03-24
2148   1988-03-20
2149   1988-03-18
2150   1988-03-10
2151   1988-03-09
2153   1988-02-11
2154   1988-02-03
2157   1988-01-26
2158   1988-01-19
2166   1987-12-27
2167   1987-12-26
2173   1987-12-01
2174   1987-11-25
2175   1987-11-22
2178   1987-11-11
2179   1987-11-10
2181   1987-11-01
2183   1987-10-28
2185   1987-10-27
2186   1987-10-09
2192   1987-09-18
2193   1987-09-17
2196   1987-09-02
2197   1987-08-25
2201   1987-08-16
2202   1987-08-11
2209   1987-07-07
2210   1987-06-28
2214   1987-06-19
2219   1987-06-06
2226   1987-04-07
2229   1987-03-26
2230   1987-03-25
2236   1987-03-10
2237   1987-03-08
2238   1987-02-27
2242   1987-02-12
2244   1987-01-25
2255   1986-11-13
2261   1986-10-31
2278   1986-07-06
2284   1986-05-23
2290   1986-04-08
2299   1986-03-12
2300   1986-03-03
2302   1986-02-21
2303   1986-02-20
2309   1986-01-19
2311   1986-01-09
2313   1986-01-03
2319   1985-11-07
2321   1985-10-25
2329   1985-09-08
2330   1985-09-08
2338   1985-07-02
2341   1985-06-23
2352   1985-04-25
2353   1985-04-23
2402   1984-06-11
2418   1984-04-14
2419   1984-03-22
2429   1984-01-26
2430   1984-01-23
2434   1984-01-07
2435   1984-01-01
2437   1983-12-29
2447   1983-12-09
2452   1983-11-09
2461   1983-10-17
2468   1983-09-23
2473   1983-08-04
2488   1983-06-03
2502   1983-03-30
2503   1983-03-23
2516   1982-12-30
2518   1982-12-26
2520   1982-12-09
2524   1982-11-22
2525   1982-11-18
2534   1982-08-05
2536   1982-07-16
2537   1982-07-09
2538   1982-07-09
2543   1982-05-27
2544   1982-05-26
2549   1982-04-18
2550   1982-04-09
2554   1982-02-17
2557   1982-02-03
Name: event_date, dtype: datetime64[ns]

#### Airport ID exploration and filtering
___

We want to narrow down the dataset to top airport hubs.  I will merge IDs as some of them are in IATA format (LAX) and others are in ICAO format (KLAX).  Because we are just limiting our research to 'on the ground' accidents, we'll drop rows where airport IDs are not listed.  Observations that do not include an aiport ID happen during flight.

In [25]:
airline_filtered_df.dropna(subset = 'airport_id', inplace = True)

Change from IATA ID format to ICAO. We didn't do this for airports with only one one observation since we are going to focus on top airport hubs in the dataset and to save time.

In [26]:
# Make all IDs uppercase
airline_filtered_df['airport_id'] = airline_filtered_df['airport_id'].str.upper()

In [27]:
# Drop all rows where there is NONE input instead of no input
airline_filtered_df = airline_filtered_df[airline_filtered_df['airport_id'] != 'NONE']

In [28]:
def airport_code_replace(value):
    if len(value) > 3 and value[0] in ['K', 'P', 'S', 'B', 'L', 'M']:
        return value[1:]
    else:
        return value

In [29]:
airline_filtered_df['airport_id'] = airline_filtered_df['airport_id'].apply(airport_code_replace)

In [30]:
# The following deal with special cases between IATA and ICAO codes
# in which more than one observation was recording using the different IDs.

airline_filtered_df['airport_id'] = airline_filtered_df['airport_id'].str.replace('RPLB', 'SFS')
airline_filtered_df['airport_id'] = airline_filtered_df['airport_id'].str.replace('TIST', 'STT')
airline_filtered_df['airport_id'] = airline_filtered_df['airport_id'].str.replace('D/FW', 'DFW')
airline_filtered_df['airport_id'] = airline_filtered_df['airport_id'].str.replace('EHAM', 'AMS')
airline_filtered_df['airport_id'] = airline_filtered_df['airport_id'].str.replace('EGLL', 'LHR')
airline_filtered_df['airport_id'] = airline_filtered_df['airport_id'].str.replace('YBCG', 'OOL')
airline_filtered_df['airport_id'] = airline_filtered_df['airport_id'].str.replace('EINN', 'SNN')
airline_filtered_df['airport_id'] = airline_filtered_df['airport_id'].str.replace('VHHH', 'HKG')
airline_filtered_df['airport_id'] = airline_filtered_df['airport_id'].str.replace('TAPA', 'ANU')
airline_filtered_df['airport_id'] = airline_filtered_df['airport_id'].str.replace('NTAA', 'PPT')
airline_filtered_df['airport_id'] = airline_filtered_df['airport_id'].str.replace('CYYC', 'YYC')

In [31]:
airline_filtered_df.shape

(560, 15)

### Injury Columns
___

In [32]:
# Lower characters for highest_injury_level
airline_filtered_df['highest_injury_level'] = airline_filtered_df['highest_injury_level'].str.lower()

In [33]:
# Many of the values here are blank because observations with no injuries were either left blank or set to 'none'.
# Will set to 'none' string.
airline_filtered_df['highest_injury_level'].isnull().sum()

372

In [34]:
airline_filtered_df['highest_injury_level'].fillna('none', inplace = True)
airline_filtered_df['highest_injury_level'].isnull().sum()

0

In [35]:
airline_filtered_df['highest_injury_level'].value_counts()

highest_injury_level
none       372
serious    105
minor       70
fatal       13
Name: count, dtype: int64

In [36]:
# All of the values for injury counts look OK.  No NaNs.
print(airline_filtered_df['fatal_injury_count'].value_counts())
print(airline_filtered_df['serious_injury_count'].value_counts())
print(airline_filtered_df['minor_injury_count'].value_counts())

fatal_injury_count
0      547
1        7
2        2
88       1
27       1
34       1
111      1
Name: count, dtype: int64
serious_injury_count
0     449
1      89
2      10
3       5
5       2
8       1
6       1
9       1
13      1
47      1
Name: count, dtype: int64
minor_injury_count
0      451
1       32
2       17
3       10
5        6
6        6
7        6
4        4
12       3
125      2
18       2
14       2
8        2
25       2
19       2
17       1
36       1
38       1
30       1
88       1
28       1
42       1
27       1
41       1
15       1
20       1
9        1
16       1
Name: count, dtype: int64

#### Probable Cause
___

We want to use potentially implement natural language processing with this column, but several of them have missing values.  The information that is available looks like it could be useful, so we will fill the empty values with 'NA' as a placeholder.

In [37]:
#Lower strings and fill nulls with 'NA'
airline_filtered_df['probable_cause'] = airline_filtered_df['probable_cause'].str.lower()
airline_filtered_df['probable_cause'].fillna('unknown', inplace = True)

In [38]:
#No NaNs
airline_filtered_df['probable_cause'].isnull().sum()

0

#### Aircraft Make
___

In [39]:
airline_filtered_df['make'] = airline_filtered_df['make'].str.lower()
airline_filtered_df['make'].isnull().sum()

1

In [40]:
#Get rid of NaNs
airline_filtered_df['make'].fillna('unknown', inplace = True)
airline_filtered_df['make'] = airline_filtered_df['make'].str.replace(' ', '_')

Referenced [this](https://saturncloud.io/blog/how-to-split-pandas-dataframe-column-values-in-python/) website when trying to figure out how to split data into two columns.

In [41]:
airline_filtered_df[['make1', 'make2']] = airline_filtered_df['make'].str.split(',', n=1, expand=True)

Splitting by comma to separate aircraft requires its own cleanup.

In [42]:
# Cleanup of company names.  There is no standarization with how these were entered.

def mcdonnell_douglas_replace(value):
    if 'mcdonnell' in value or 'douglas' in value:
        return 'mcdonnell_douglas'
    else:
        return value

def airbus_replace(value):
    if 'airbus' in value:
        return 'airbus'
    else:
        return value

def bombardier_replace(value):
    if 'bombadier' in value or 'bombardier' in value:
        return 'bombardier'
    else:
        return value

def saab_replace(value):
    if 'saab'in value:
        return 'saab'
    else:
        return value


def british_aircraft_replace(value):
    if 'british'in value or 'bac' in value:
        return 'british_aircraft'
    else:
        return value

In [43]:
airline_filtered_df['make1'] = airline_filtered_df['make1'].apply(mcdonnell_douglas_replace)
airline_filtered_df['make1'] = airline_filtered_df['make1'].apply(airbus_replace)
airline_filtered_df['make1'] = airline_filtered_df['make1'].apply(bombardier_replace)
airline_filtered_df['make1'] = airline_filtered_df['make1'].apply(saab_replace)
airline_filtered_df['make1'] = airline_filtered_df['make1'].apply(british_aircraft_replace)

In [44]:
airline_filtered_df['make1'].value_counts()

make1
boeing               318
mcdonnell_douglas    107
airbus                76
embraer               12
aerospatiale           8
saab                   7
british_aircraft       7
lockheed               7
bombardier             5
fokker                 5
de_havilland           3
atr                    1
unknown                1
fairchild              1
short_brothers         1
canadair               1
Name: count, dtype: int64

In [45]:
# Drop second make columns ane rename make1 to make
airline_filtered_df.drop(columns = ['make','make2'], inplace = True)
airline_filtered_df.rename(columns = {'make1':'make'}, inplace = True)

#### Aircraft Damage
___

Types of damage categories are None, Minor, Substantial, and Destroyed.  Some values were left blank.  After looking at the data details, we determined they were left blank because there was no damage to the aircraft

In [46]:
#separating damage, will only be using first damage listed
airline_filtered_df[['aircraft_damage1', 'aircraft_damage2']] = airline_filtered_df['aircraft_damage'].str.split(',', n=1, expand=True)

In [47]:
airline_filtered_df['aircraft_damage1'].isnull().sum()

182

In [48]:
#replace NaN with None, after reviewing other columns
airline_filtered_df['aircraft_damage1'] = airline_filtered_df['aircraft_damage1'].replace(np.nan, 'no_damage')

In [49]:
#dropping aircraft_damage2 column (not needed for our models)
airline_filtered_df.drop(columns=['aircraft_damage2', 'aircraft_damage'], inplace = True)

In [50]:
#Get rid of unneeded columns
airline_filtered_df.rename(columns = {'aircraft_damage1':'aircraft_damage'}, inplace = True)

In [51]:
# 23 entries are 'None' which when reading the csv back to a dataframe, make the value a NaN.  Will change 'None' to 'no_damage'.
airline_filtered_df['aircraft_damage'] = airline_filtered_df['aircraft_damage'].replace('None', 'no_damage')

#### Aircraft Model
___

There are many variations over the same model of plan.  I consilidated the models for more interpretability.  Domain knowledge would really help in a case such as this.

In [52]:
airline_filtered_df[['model1', 'model2']] = airline_filtered_df['model'].str.split(',', n=1, expand=True)

In [53]:
airline_filtered_df['model1'] = airline_filtered_df['model1'].str.replace(' ', '-')

In [54]:
#There isn't any useful information for the one row that has no model.  This will be dropped.
airline_filtered_df[airline_filtered_df['model'].isnull()]

,event_type,event_date,tail_number,highest_injury_level,fatal_injury_count,serious_injury_count,minor_injury_count,probable_cause,latitude,longitude,model,airport_id,operator,make,aircraft_damage,model1,model2
716,INC,2008-09-22,",",none,0,0,0,the tower local controller's failure to provid...,40.669101,-89.609878,NaN,PIA,american,unknown,no_damage,NaN,NaN

In [55]:
airline_filtered_df.drop(716, inplace = True)

In [56]:
#Required for specific entries
regex_code = [
    (r'^AA(\d+)$', r'A\1'),          # Replace 'AA320' with 'A320'
    (r'^AA(\d+-\d+)$', r'A\1'),      # Replace 'AA320-232' with 'A320-232'
    (r'^DC-10-10$', r'\bDC-10\b')    # DC-10-10 to DC-10
]

In [57]:
# Functions consolidate plane model names by company

def boeing_replace(value):
    if '707'in value:
        return '707'
    elif '717'in value:
        return '717'
    elif '727'in value:
        return '727'
    elif '737' in value:
        return '737'
    elif '747' in value:
        return '747'
    elif '757' in value:
        return '757'
    elif '767' in value:
        return '767'
    elif '777' in value:
        return '777'
    elif '787' in value:
        return '787'
    else:
        return value

def airbus_replace(value):
    if '310' in value:
        return 'A310'
    elif 'A319'in value:
        return 'A319'
    elif 'A300' in value or 'A-300' in value:
        return 'A300'
    elif 'A320'in value or '320' in value:
        return 'A320'
    elif 'A321'in value:
        return 'A321'
    elif 'A330'in value:
        return 'A330'
    else:
        return value
        
def dc_replace(value):
    if 'DC'in value and '8' in value:
        return 'DC-8'
    elif 'DC'in value and '9' in value:
        return 'DC-9'
    elif 'DC'in value and '10' in value:
        return 'DC-10'
    else:
        return value

def md_replace(value):
    if 'MD'in value and '10' in value:
        return 'MD-10'
    elif 'MD'in value and '11' in value:
        return 'MD-11'
    elif 'MD'in value and '80' in value:
        return 'MD-80'
    elif 'MD'in value and '90' in value:
        return 'MD-90'
    elif 'MD'in value and '88' in value:
        return 'MD-88'
    else:
        return value
        
def l_1011_replace(value):
    if '1011' in value:
        return 'L-1011'
    else:
        return value

def erj_replace(value):
    if '140' in value:
        return 'ERJ-140'
    elif '145' in value:
        return 'ERJ-145'
    elif '145LR' in value:
        return 'ERJ-145LR'
    elif '190' in value:
        return 'ERJ-190'
    else:
        return value

def f28_replace(value):
    if 'MK' in value and '0100' in value:
        return 'FOKKER-100'
    elif 'MK' in value and '4000' in value:
        return 'F28-4000'
    else:
        return value

def dhc_replace(value):
    if 'DHC' in value:
        return 'DASH-8'
    elif 'MK' in value or '4000' in value:
        return 'F28-4000'
    else:
        return value

def ba_replace(value):
    if '146' in value:
        return 'BAE-146'
    else:
        return value

def saab_replace(value):
    if '340' in value or '340B' in value:
        return 'SAAB-340'
    else:
        return value

In [58]:
# Major model cleaning
airline_filtered_df['model1'] = airline_filtered_df['model1'].apply(boeing_replace)
airline_filtered_df['model1'] = airline_filtered_df['model1'].apply(dc_replace)
airline_filtered_df['model1'] = airline_filtered_df['model1'].apply(airbus_replace)
airline_filtered_df['model1'] = airline_filtered_df['model1'].apply(l_1011_replace)
airline_filtered_df['model1'] = airline_filtered_df['model1'].apply(md_replace)
airline_filtered_df['model1'] = airline_filtered_df['model1'].apply(erj_replace)
airline_filtered_df['model1'] = airline_filtered_df['model1'].apply(f28_replace)
airline_filtered_df['model1'] = airline_filtered_df['model1'].apply(dhc_replace)
airline_filtered_df['model1'] = airline_filtered_df['model1'].apply(ba_replace)
airline_filtered_df['model1'] = airline_filtered_df['model1'].apply(saab_replace)

In [59]:
# Special case in model cleaning
airline_filtered_df.loc[646,'model1'] = 'MD-82'

In [60]:
# Single uses
airline_filtered_df['model1'] = airline_filtered_df['model1'].replace('100', 'FOKKER-100')
airline_filtered_df['model1'] = airline_filtered_df['model1'].replace('SF-34OB', 'SAAB-340')

In [61]:
airline_filtered_df['model1'].value_counts()

model1
737            162
727             49
757             48
DC-8            29
A320            29
767             28
DC-10           21
MD-88           20
A319            14
A300            13
A321            13
777             13
DC-9            13
MD-80           10
MD-82           10
747             10
A330             8
SAAB-340         7
L-1011           7
DASH-8           6
ERJ-145          6
FOKKER-100       3
ATR-42-300       3
MD-83            3
717              3
ERJ-190          3
MD-11            3
BAE-146          3
F28-4000         2
A310             1
SD3-60           1
11-Jan           1
ATP              1
CL44D4           1
707              1
RJ-70            1
EMB-135          1
SA227-AC         1
ATR-42-2000      1
EMB-120ER        1
ATR72-212        1
ERJ-140          1
CL600-2C10       1
ATR72            1
F4-622R          1
CL-600-2C10      1
787              1
MD-90            1
1-11/204/AF      1
Name: count, dtype: int64

In [62]:
# Based on tail number, this is a BAC-111 model plane. Will rename to proper model
airline_filtered_df[airline_filtered_df['model1'] == 'BAC-111']

Empty DataFrame
Columns: [event_type, event_date, tail_number, highest_injury_level, fatal_injury_count, serious_injury_count, minor_injury_count, probable_cause, latitude, longitude, model, airport_id, operator, make, aircraft_damage, model1, model2]
Index: []

In [63]:
airline_filtered_df.loc[2429,'model1'] = 'BAC-111'

In [64]:
#dropping aircraft_damage2 column (not needed for our models)
airline_filtered_df.drop(columns=['model2', 'model'], inplace = True)

In [65]:
airline_filtered_df.rename(columns = {'model1':'model'}, inplace = True)

In [66]:
#NaN free dataset
airline_filtered_df.isnull().sum()

event_type              0
event_date              0
tail_number             0
highest_injury_level    0
fatal_injury_count      0
serious_injury_count    0
minor_injury_count      0
probable_cause          0
latitude                0
longitude               0
airport_id              0
operator                0
make                    0
aircraft_damage         0
model                   0
dtype: int64

In [67]:
airline_filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 559 entries, 1 to 2557
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   event_type            559 non-null    object
 1   event_date            559 non-null    datetime64[ns]
 2   tail_number           559 non-null    object
 3   highest_injury_level  559 non-null    object
 4   fatal_injury_count    559 non-null    int64
 5   serious_injury_count  559 non-null    int64
 6   minor_injury_count    559 non-null    int64
 7   probable_cause        559 non-null    object
 8   latitude              559 non-null    float64
 9   longitude             559 non-null    float64
 10  airport_id            559 non-null    object
 11  operator              559 non-null    object
 12  make                  559 non-null    object
 13  aircraft_damage       559 non-null    object
 14  model                 559 non-null    object
dtypes: datetime64[ns](1), float64(2), int64(3), object(9)
memory usage: 86.0+ KB

#### Save Cleaned DataFrame
___

In [68]:
airline_filtered_df.to_csv('./data/clean_aviation_data.csv', index = False)