In [89]:
import pandas as pd
import numpy as np
import matplotlib as plt

import re

In [90]:
df = pd.read_csv('../airline_safety/data/aviation_data.csv')

In [91]:
df.head()

,NtsbNo,EventType,Mkey,EventDate,City,State,Country,ReportNo,N,HasSafetyRec,...,PurposeOfFlight,FAR,AirCraftDamage,WeatherCondition,Operator,ReportStatus,RepGenFlag,DocketUrl,DocketPublishDate,Unnamed: 37
0,DCA24LA051,ACC,193561,2023-12-19T19:30:00Z,St. Louis,Missouri,United States,NaN,N8514F,False,...,NaN,121,Substantial,VMC,SOUTHWEST AIRLINES CO,Completed,False,https://data.ntsb.gov/Docket?ProjectID=193561,3/12/2024 6:00:00 PM,NaN
1,DCA24LA034,INC,193459,2023-11-30T08:14:00Z,Kahului,Hawaii,United States,NaN,N494HA,False,...,NaN,121,Minor,VMC,Hawaiian Airlines,In work,False,NaN,NaN,NaN
2,ENG24FA003,INC,193272,2023-10-18T17:15:00Z,Memphis,Tennessee,United States,NaN,N287FE,False,...,NaN,121,Minor,NaN,FEDERAL EXPRESS CORP,In work,False,NaN,NaN,NaN
3,DCA24FA002,ACC,193196,2023-10-05T00:47:00Z,Chattanooga,Tennessee,United States,NaN,N977FD,False,...,NaN,121,Substantial,NaN,FEDERAL EXPRESS CORP,In work,False,NaN,NaN,NaN
4,DCA23LA468,ACC,193204,2023-09-30T16:00:00Z,Denver,Colorado,United States,NaN,N37560,False,...,NaN,121,Substantial,NaN,UNITED AIRLINES INC,In work,False,NaN,NaN,NaN

In [92]:
def camel_to_snake(col):
    return re.sub(r'(?<!^)(?=[A-Z])', '_', col).lower()

In [93]:
df.head()

,NtsbNo,EventType,Mkey,EventDate,City,State,Country,ReportNo,N,HasSafetyRec,...,PurposeOfFlight,FAR,AirCraftDamage,WeatherCondition,Operator,ReportStatus,RepGenFlag,DocketUrl,DocketPublishDate,Unnamed: 37
0,DCA24LA051,ACC,193561,2023-12-19T19:30:00Z,St. Louis,Missouri,United States,NaN,N8514F,False,...,NaN,121,Substantial,VMC,SOUTHWEST AIRLINES CO,Completed,False,https://data.ntsb.gov/Docket?ProjectID=193561,3/12/2024 6:00:00 PM,NaN
1,DCA24LA034,INC,193459,2023-11-30T08:14:00Z,Kahului,Hawaii,United States,NaN,N494HA,False,...,NaN,121,Minor,VMC,Hawaiian Airlines,In work,False,NaN,NaN,NaN
2,ENG24FA003,INC,193272,2023-10-18T17:15:00Z,Memphis,Tennessee,United States,NaN,N287FE,False,...,NaN,121,Minor,NaN,FEDERAL EXPRESS CORP,In work,False,NaN,NaN,NaN
3,DCA24FA002,ACC,193196,2023-10-05T00:47:00Z,Chattanooga,Tennessee,United States,NaN,N977FD,False,...,NaN,121,Substantial,NaN,FEDERAL EXPRESS CORP,In work,False,NaN,NaN,NaN
4,DCA23LA468,ACC,193204,2023-09-30T16:00:00Z,Denver,Colorado,United States,NaN,N37560,False,...,NaN,121,Substantial,NaN,UNITED AIRLINES INC,In work,False,NaN,NaN,NaN

In [94]:
df.columns = [camel_to_snake(col) for col in df.columns]

In [95]:
df.head()

,ntsb_no,event_type,mkey,event_date,city,state,country,report_no,n,has_safety_rec,...,purpose_of_flight,f_a_r,air_craft_damage,weather_condition,operator,report_status,rep_gen_flag,docket_url,docket_publish_date,unnamed: 37
0,DCA24LA051,ACC,193561,2023-12-19T19:30:00Z,St. Louis,Missouri,United States,NaN,N8514F,False,...,NaN,121,Substantial,VMC,SOUTHWEST AIRLINES CO,Completed,False,https://data.ntsb.gov/Docket?ProjectID=193561,3/12/2024 6:00:00 PM,NaN
1,DCA24LA034,INC,193459,2023-11-30T08:14:00Z,Kahului,Hawaii,United States,NaN,N494HA,False,...,NaN,121,Minor,VMC,Hawaiian Airlines,In work,False,NaN,NaN,NaN
2,ENG24FA003,INC,193272,2023-10-18T17:15:00Z,Memphis,Tennessee,United States,NaN,N287FE,False,...,NaN,121,Minor,NaN,FEDERAL EXPRESS CORP,In work,False,NaN,NaN,NaN
3,DCA24FA002,ACC,193196,2023-10-05T00:47:00Z,Chattanooga,Tennessee,United States,NaN,N977FD,False,...,NaN,121,Substantial,NaN,FEDERAL EXPRESS CORP,In work,False,NaN,NaN,NaN
4,DCA23LA468,ACC,193204,2023-09-30T16:00:00Z,Denver,Colorado,United States,NaN,N37560,False,...,NaN,121,Substantial,NaN,UNITED AIRLINES INC,In work,False,NaN,NaN,NaN

In [96]:
#list of columns worth keeping to streamline cleaning
columns_to_keep = ['event_type',
                   'event_date',
                   'city', 'state',
                   'country',
                   'n',
                   'highest_injury_level',
                   'fatal_injury_count',
                   'serious_injury_count',
                   'minor_injury_count',
                   'probable_cause',
                   'latitude',
                   'longitude',
                   'make',
                   'model',
                   'airport_i_d',
                   'airport_name',
                   'number_of_engines',
                   'air_craft_damage',
                   'weather_condition',
                   'operator',
                  ]

airline_filtered_df = df[columns_to_keep].copy()

In [97]:
pd.set_option('display.max_rows', 1000)

In [98]:
airline_filtered_df.rename(columns = {'airport_i_d':'airport_id', 'air_craft_damage':'aircraft_damage'}, inplace = True)

In [99]:
airline_filtered_df['event_type'] = airline_filtered_df['event_type'].str.replace('OCC', 'INC')

In [100]:

airline_filtered_df['event_date'] = airline_filtered_df['event_date'].str[:10]
airline_filtered_df['event_date'] = airline_filtered_df['event_date'].str[:10]

In [101]:
airline_filtered_df.head(50)

,event_type,event_date,city,state,country,n,highest_injury_level,fatal_injury_count,serious_injury_count,minor_injury_count,...,latitude,longitude,make,model,airport_id,airport_name,number_of_engines,aircraft_damage,weather_condition,operator
0,ACC,2023-12-19,St. Louis,Missouri,United States,N8514F,NaN,0,0,0,...,38.747222,-90.361389,BOEING,737,NaN,NaN,2,Substantial,VMC,SOUTHWEST AIRLINES CO
1,INC,2023-11-30,Kahului,Hawaii,United States,N494HA,Minor,0,0,1,...,20.899501,-156.429730,BOEING,717-200,OGG,KAHULUI,2,Minor,VMC,Hawaiian Airlines
2,INC,2023-10-18,Memphis,Tennessee,United States,N287FE,NaN,0,0,0,...,35.040031,-89.981873,BOEING,767,NaN,NaN,NaN,Minor,NaN,FEDERAL EXPRESS CORP
3,ACC,2023-10-05,Chattanooga,Tennessee,United States,N977FD,NaN,0,0,0,...,35.035301,-85.203796,BOEING,757-236,CHA,Lovell Field Airport,2,Substantial,NaN,FEDERAL EXPRESS CORP
4,ACC,2023-09-30,Denver,Colorado,United States,N37560,NaN,0,0,0,...,39.849312,-104.673820,BOEING,737-9,KDEN,Denver International,2,Substantial,NaN,UNITED AIRLINES INC
5,ACC,2023-09-28,Ann Arbor,Michigan,United States,N804AN,Serious,0,1,0,...,42.280800,-83.743000,BOEING,787-8,NaN,NaN,2,NaN,NaN,AMERICAN AIRLINES INC
6,ACC,2023-09-25,Carribean Sea,NaN,Jamaica,N569JB,Serious,0,3,4,...,16.197641,-77.389800,AIRBUS,A320-232,NaN,NaN,2,NaN,NaN,JETBLUE AIRWAYS CORP
7,INC,2023-09-24,Guayaquil,NaN,Ecuador,HC-CUH,NaN,0,0,0,...,0.000000,0.000000,BOEING,737,NaN,NaN,NaN,NaN,NaN,Aeroregional
8,INC,2023-09-18,Melbourne,NaN,Australia,VN-A819,Serious,0,1,0,...,0.000000,0.000000,BOEING,787,NaN,Melbourne Aerodrome,NaN,NaN,NaN,Bamboo Airways
9,ACC,2023-09-07,Hebron,Kentucky,United States,N37531,Serious,0,1,0,...,38.750900,-85.267600,BOEING,737-9,NaN,NaN,2,NaN,VMC,UNITED AIRLINES INC
10,INC,2023-09-01,Prague,NaN,Czech Republic,N175DN,NaN,0,0,0,...,0.000000,0.000000,BOEING,767-332,NaN,NaN,2,NaN,NaN,NaN
11,INC,2023-08-30,Honolulu,Hawaii,United States,9V-DHC,NaN,0,0,0,...,0.000000,0.000000,BOEING,777,NaN,NaN,NaN,NaN,NaN,NaN
12,ACC,2023-08-29,Atlanta,Georgia,United States,N579DZ,Serious,0,4,13,...,34.095633,-83.834486,AIRBUS SAS,A350-941,NaN,NaN,2,NaN,NaN,Delta Air Lines
13,INC,2023-08-21,Freeport,NaN,Bahamas,N920FX,NaN,0,0,0,...,0.000000,0.000000,AEROSPATIALE/AERITALIA,ATR 42-300,NaN,NaN,2,NaN,NaN,Mountain Air Cargo
14,ACC,2023-08-21,Santa Ana,California,United States,N516AS,NaN,0,0,0,...,33.675701,-117.867990,BOEING,737-890,KSNA,John Wayne/Orange County Airport,2,Substantial,IMC,Alaska Airlines
15,ACC,2023-08-18,Over the,Atlantic Ocean,United States,N209UA,Serious,0,1,8,...,40.000000,-60.000000,BOEING,777-222,NaN,NaN,2,NaN,VMC,UNITED AIRLINES INC
16,ACC,2023-08-14,Chicago,Illinois,United States,N776MS,Serious,0,1,0,...,41.976940,-87.908150,EMBRAER,ERJ 170-100 SE,NaN,NaN,2,NaN,VMC,Envoy Air
17,INC,2023-08-11,San Diego,California,United States,"N7734H, N564HV",NaN,0,0,0,...,32.730189,-117.175620,"BOEING, TEXTRON AVIATION INC","737-7BD, 560XL",SAN,SAN DIEGO INTL,"2,2","None,None",VMC,"SOUTHWEST AIRLINES CO,HY-VEE INC"
18,INC,2023-08-07,Ningbo,NaN,China,N401KZ,NaN,0,0,0,...,0.000000,0.000000,BOEING,747-481F,ZSNB,Ningbo Lishe International Airport,4,NaN,NaN,KALITTA AIR LLC
19,INC,2023-08-03,Jacksonville,Florida,United States,N649JB,NaN,0,0,0,...,30.486167,-81.750781,AIRBUS,A320,JAX,Jacksonville International Airport,2,NaN,NaN,JetBlue
20,ACC,2023-08-03,Chantilly,Virginia,United States,N676UA,NaN,0,0,0,...,38.947456,-77.459929,BOEING,767-322,IAD,WASHINGTON DULLES INTL,2,Substantial,NaN,UNITED AIRLINES INC
21,ACC,2023-07-29,Houston,Texas,United States,N641UA,NaN,0,0,0,...,29.989605,-95.344154,BOEING,767-322,IAH,GEORGE BUSH INTCNTL/HOUSTON,2,Substantial,NaN,UNITED AIRLINES INC
22,ACC,2023-07-28,Myrtle Beach,Atlantic Ocean,United States,N77431,Serious,0,1,0,...,34.516667,-74.085278,BOEING,737-924ER,NaN,NaN,2,NaN,IMC,UNITED AIRLINES INC
23,INC,2023-07-27,Seoul,NaN,Republic Of Korea,N407DX,Minor,0,0,1,...,0.000000,0.000000,AIRBUS,A330-941,NaN,NaN,2,NaN,NaN,Delta Air Lines
24,ACC,2023-07-24,East Palestine,Ohio,United States,N279WN,Serious,0,1,0,...,40.880000,-80.658000,BOEING,737,NaN,NaN,2,NaN,IMC,SOUTHWEST AIRLINES CO
25,ACC,2023-07-24,Fuimicino,NaN,Italy,N189DN,NaN,0,0,0,...,0.000000,0.000000,BOEING,767-332,NaN,NaN,2,Minor,NaN,DELTA AIR LINES INC
26,ACC,2023-07-23,Fort Lauderdale,Florida,United States,N229NV,Serious,0,1,0,...,28.400000,-80.350000,AIRBUS,A320-214,NaN,NaN,2,NaN,VMC,"Allegiant Air, LLC"
27,ACC,2023-07-17,Tel Aviv,NaN,Israel,"OE-LRG, N918FD",NaN,0,0,0,...,32.011398,34.886700,"BOEING, BOEING","747, 757-23A",NaN,NaN,",2","Minor,Substantial",NaN,"Challenge Belgium,FEDERAL EXPRESS CORP"
28,ACC,2023-07-12,Inverness,Florida,United States,N249NV,Serious,0,2,4,...,27.910200,-82.687401,AIRBUS,A320-214,NaN,NaN,2,NaN,IMC,"Allegiant Air, LLC"
29,INC,2023-06-28,Newark,New Jersey,United States,N37516,NaN,0,0,0,...,40.688689,-74.173724,BOEING,737-9,EWR,NEWARK LIBERTY INTL,2,Minor,NaN,United Airlines
30,ACC,2023-06-28,Charlotte,North Carolina,United States,N955AT,NaN,0,0,0,...,35.215366,-80.955103,BOEING,717-200,CLT,CHARLOTTE/DOUGLAS INTL,2,Substantial,NaN,Delta Air Lines Inc
31,INC,2023-06-25,Monterrey,NaN,Mexico,N310JZ,NaN,0,0,0,...,0.000000,0.000000,EMBRAER,ERJ170,NaN,NaN,NaN,NaN,NaN,Envoy Air
32,ACC,2023-06-01,Chicago,Illinois,United States,N28457,Serious,0,1,0,...,42.631500,-88.271800,BOEING,737-924ER,NaN,NaN,2,NaN,VMC,UNITED AIRLINES INC
33,ACC,2023-06-01,Houston,Texas,United States,N479UA,Serious,0,1,0,...,29.990200,-95.336800,AIRBUS INDUSTRIE,A320-232,NaN,NaN,2,NaN,IMC,UNITED AIRLINES INC
34,INC,2023-05-11,Monterrey,NaN,Mexico,N518VL,NaN,0,0,0,...,0.000000,0.000000,AIRBUS,A320-233,NaN,NaN,2,Minor,NaN,Volaris
35,ACC,2023-05-05,Charlotte,North Carolina,United States,N921US,NaN,0,0,0,...,35.215878,-80.950875,AIRBUS,A321-231,CLT,CHARLOTTE/DOUGLAS INTL,2,Substantial,VMC,AMERICAN AIRLINES INC
36,ACC,2023-04-22,Atlantic Ocean,Atlantic Ocean,United States,N770AN,Serious,0,1,3,...,39.011172,-41.008763,BOEING,777-223,NaN,NaN,2,NaN,NaN,AMERICAN AIRLINES INC
37,INC,2023-04-17,Mexico City,NaN,Mexico,N694DL,NaN,0,0,0,...,0.000000,0.000000,BOEING,757-232,NaN,NaN,2,Minor,NaN,DELTA AIR LINES INC
38,INC,2023-03-30,Belize City,NaN,Belize,N940AN,NaN,0,0,0,...,0.000000,0.000000,BOEING,737-823,NaN,NaN,2,NaN,NaN,American Airlines
39,ACC,2023-03-24,Saltillo,NaN,Mexico,N834US,NaN,0,0,0,...,25.549499,-100.929000,MCDONNELL DOUGLAS AIRCRAFT CO,MD-88,MMIO,Saltillo/Plan de Guadalupe Intl General Airport,2,Substantial,NaN,USA JET AIRLINES INC
40,ACC,2023-03-22,Houston,Texas,United States,N1902U,NaN,0,0,0,...,29.977800,-95.305700,AIRBUS,A320-232,IAH,GEORGE BUSH INTCNTL/HOUSTON,2,Substantial,VMC,UNITED AIRLINES INC
41,ACC,2023-03-21,Sacramento,California,United States,N79011,Serious,0,1,0,...,38.416790,-121.563910,BOEING,777-224,NaN,NaN,2,NaN,VMC,UNITED AIRLINES INC
42,INC,2023-03-05,Havana,NaN,Cuba,N8792Q,NaN,0,0,0,...,23.108214,-82.377248,BOEING,737-8,NaN,NaN,2,Minor,NaN,SOUTHWEST AIRLINES CO
43,ACC,2023-03-02,Dallas,Texas,United States,N366FR,Serious,0,1,0,...,32.899800,-97.040300,AIRBUS,A320-251N,NaN,NaN,2,NaN,NaN,Frontier Airlines
44,INC,2023-02-27,Boston,Massachusetts,United States,"N280LJ, N179JB",NaN,0,0,0,...,42.366978,-71.022362,"LEARJET INC, EMBRAER","60, ERJ 190-100 IGW",KBOS,Boston-Logan Innternational Airport,"2,2","None,None",VMC,"Hop A Jet,JetBlue Airways"
45,ACC,2023-02-24,New York,New York,United States,N337JB,Serious,0,1,0,...,40.647490,-73.779982,EMBRAER,ERJ 190-100 IGW,NaN,NaN,2,NaN,NaN,JETBLUE AIRWAYS CORP
46,INC,2023-02-22,Burbank,California,United States,"N954LR, N619UX",NaN,0,0,0,...,34.200699,-118.359000,"BOMBARDIER INC, EMBRAER S A","CL-600-2D24, ERJ 170-200 LL",BUR,Bob Hope Airport,"2,2","None,None",NaN,"MESA AIRLINES INC,"
47,INC,2023-02-16,Sarasota,Florida,United States,"N976NN, C-FJQH",NaN,0,0,0,...,27.395100,-82.553800,"BOEING, AIRBUS","737-823, 321",KSRQ,Sarasota- Bradenton International,"2,","None,None",VMC,"AMERICAN AIRLINES INC,Air Canada Rouge"
48,ACC,2023-02-16,New Orleans,Louisiana,United States,N505NK,Serious,0,1,2,...,29.993333,-90.258056,AIRBUS,A319-132,NaN,NaN,2,NaN,VMC,SPIRIT AIRLINES INC
49,ACC,2023-02-10,Rushville,Indiana,United States,N944AN,Serious,0,1,0,...,39.610030,-85.450000,BOEING,737,NaN,NaN,2,NaN,VMC,American Airlines

In [102]:
airline_filtered_df.columns

Index(['event_type', 'event_date', 'city', 'state', 'country', 'n',
       'highest_injury_level', 'fatal_injury_count', 'serious_injury_count',
       'minor_injury_count', 'probable_cause', 'latitude', 'longitude', 'make',
       'model', 'airport_id', 'airport_name', 'number_of_engines',
       'aircraft_damage', 'weather_condition', 'operator'],
      dtype='object')

## Start of Holly Code to clean up Operator Column

In [104]:
#make all lower case
airline_filtered_df['operator'] = airline_filtered_df['operator'].str.lower()

In [105]:
#two operators listed, separated into an operator 2 column
airline_filtered_df[['operator1', 'operator2']] = airline_filtered_df['operator'].str.split(',', n=1, expand=True)

In [106]:
#clean up operator column, so all airlines are spelled and listed correctly USING str.replace(). 

airline_filtered_df['operator1'] = airline_filtered_df['operator1'].str.replace('united airlines inc', 'united')

airline_filtered_df['operator1'] = airline_filtered_df['operator1'].str.replace('american airlines inc', 'american')

airline_filtered_df['operator1'] = airline_filtered_df['operator1'].str.replace('delta air lines', 'delta')

airline_filtered_df['operator1'] = airline_filtered_df['operator1'].str.replace('delta airlines inc', 'delta')

airline_filtered_df['operator1'] = airline_filtered_df['operator1'].str.replace('hawaiian airlines inc', 'hawaiian')

airline_filtered_df['operator1'] = airline_filtered_df['operator1'].str.replace('southwest airlines co', 'southwest')

airline_filtered_df['operator1'] = airline_filtered_df['operator1'].str.replace('federal express corporation', 'federal express')

airline_filtered_df['operator1'] = airline_filtered_df['operator1'].str.replace('federal express', 'federal express')

airline_filtered_df['operator1'] = airline_filtered_df['operator1'].str.replace('alaska airlines inc', 'alaska')

airline_filtered_df['operator1'] = airline_filtered_df['operator1'].str.replace('united airlines.', 'united')

airline_filtered_df['operator1'] = airline_filtered_df['operator1'].str.replace('gojet airlines, llc.', 'gojet')

airline_filtered_df['operator1'] = airline_filtered_df['operator1'].str.replace('united parcel service', 'ups')

airline_filtered_df['operator1'] = airline_filtered_df['operator1'].str.replace('drelat air lines, inc.', 'delta')

airline_filtered_df['operator1'] = airline_filtered_df['operator1'].str.replace('allegiant air, llc', 'allegiant air')

airline_filtered_df['operator1'] = airline_filtered_df['operator1'].str.replace('united air lines inc', 'united')

airline_filtered_df['operator1'] = airline_filtered_df['operator1'].str.replace('psa airlines, inc.', 'psa')

airline_filtered_df['operator1'] = airline_filtered_df['operator1'].str.replace('psa airlines inc', 'psa')

airline_filtered_df['operator1'] = airline_filtered_df['operator1'].str.replace('expressjet', 'expressjet airlines')

airline_filtered_df['operator1'] = airline_filtered_df['operator1'].str.replace('atlas air , inc.', 'atlas air')

airline_filtered_df['operator1'] = airline_filtered_df['operator1'].str.replace('express jet', 'expressjet airlines')

airline_filtered_df['operator1'] = airline_filtered_df['operator1'].str.replace('american eagle airlines inc', 'american eagle airlines')

airline_filtered_df['operator1'] = airline_filtered_df['operator1'].str.replace('delta airlines, inc.', 'delta')

airline_filtered_df['operator1'] = airline_filtered_df['operator1'].str.replace('spirit airlines, inc.', 'spirit')

airline_filtered_df['operator1'] = airline_filtered_df['operator1'].str.replace('southwest airlines, co.', 'southwest')

airline_filtered_df['operator1'] = airline_filtered_df['operator1'].str.replace('expressjet airlines airlines', 'expressjet airlines')

airline_filtered_df['operator1'] = airline_filtered_df['operator1'].str.replace('expressjet airlines airlines inc', 'expressjet airlines')

airline_filtered_df['operator1'] = airline_filtered_df['operator1'].str.replace('united airlnes inc', 'united')

airline_filtered_df['operator1'] = airline_filtered_df['operator1'].str.replace('psa airlines.', 'psa')

airline_filtered_df['operator1'] = airline_filtered_df['operator1'].str.replace('united air lines', 'united')

airline_filtered_df['operator1'] = airline_filtered_df['operator1'].str.replace('alaska airlines, inc.', 'alaska')

airline_filtered_df['operator1'] = airline_filtered_df['operator1'].str.replace('kalitta charters ii llc', 'kalitta air')

airline_filtered_df['operator1'] = airline_filtered_df['operator1'].str.replace('fedex express', 'fedex express corp')

airline_filtered_df['operator1'] = airline_filtered_df['operator1'].str.replace('great lakes aviation', 'great lakes')

airline_filtered_df['operator1'] = airline_filtered_df['operator1'].str.replace('ups airlines company', 'ups')

airline_filtered_df['operator1'] = airline_filtered_df['operator1'].str.replace('air tran airways', 'airtran')

airline_filtered_df['operator1'] = airline_filtered_df['operator1'].str.replace('kalitta flying service inc', 'kalitta air')

airline_filtered_df['operator1'] = airline_filtered_df['operator1'].str.replace('soutwest airlines inc.', 'southwest')

airline_filtered_df['operator1'] = airline_filtered_df['operator1'].str.replace('flying tiger', 'flying tigers')

### str.contains() cleanup

In [108]:
airline_filtered_df.loc[airline_filtered_df['operator1'].str.contains('united', na=False), 'operator1'] = 'united'

airline_filtered_df.loc[airline_filtered_df['operator1'].str.contains('federal', na=False), 'operator1'] = 'federal express'

airline_filtered_df.loc[airline_filtered_df['operator1'].str.contains('ups', na=False), 'operator1'] = 'ups'

airline_filtered_df.loc[airline_filtered_df['operator1'].str.contains('delta', na=False), 'operator1'] = 'delta'

airline_filtered_df.loc[airline_filtered_df['operator1'].str.contains('eagle', na=False), 'operator1'] = 'american eagle airlines'

airline_filtered_df.loc[airline_filtered_df['operator1'].str.contains('fedex', na=False), 'operator1'] = 'federal express'

airline_filtered_df.loc[airline_filtered_df['operator1'].str.contains('alaska', na=False), 'operator1'] = 'alaska'

airline_filtered_df.loc[airline_filtered_df['operator1'].str.contains('spirit', na=False), 'operator1'] = 'spirit'

airline_filtered_df.loc[airline_filtered_df['operator1'].str.contains('frontier', na=False), 'operator1'] = 'frontier'

airline_filtered_df.loc[airline_filtered_df['operator1'].str.contains('southwest', na=False), 'operator1'] = 'southwest'

airline_filtered_df.loc[airline_filtered_df['operator1'].str.contains('wisconsin', na=False), 'operator1'] = 'air wisconsin'

airline_filtered_df.loc[airline_filtered_df['operator1'].str.contains('jetblue', na=False), 'operator1'] = 'jetblue airway'

airline_filtered_df.loc[airline_filtered_df['operator1'].str.contains('us', na=False), 'operator1'] = 'us airways'

airline_filtered_df.loc[airline_filtered_df['operator1'].str.contains('allegiant', na=False), 'operator1'] = 'allegiant air'

airline_filtered_df.loc[airline_filtered_df['operator1'].str.contains('canada', na=False), 'operator1'] = 'air canada'

airline_filtered_df.loc[airline_filtered_df['operator1'].str.contains('northwest', na=False), 'operator1'] = 'northwest'

airline_filtered_df.loc[airline_filtered_df['operator1'].str.contains('frontier', na=False), 'operator1'] = 'frontier'

airline_filtered_df.loc[airline_filtered_df['operator1'].str.contains('continental', na=False), 'operator1'] = 'continental'

airline_filtered_df.loc[airline_filtered_df['operator1'].str.contains('eagle', na=False), 'operator1'] = 'american'

airline_filtered_df.loc[airline_filtered_df['operator1'].str.contains('s.w.', na=False), 'operator1'] = 'southwest'

airline_filtered_df.loc[airline_filtered_df['operator1'].str.contains('american', na=False), 'operator1'] = 'american'

airline_filtered_df.loc[airline_filtered_df['operator1'].str.contains('blue', na=False), 'operator1'] = 'jetblue'

airline_filtered_df.loc[airline_filtered_df['operator1'].str.contains('pinnacle', na=False), 'operator1'] = 'pinnacle'

In [109]:
#dropping operator2 columns (not needed for our models)
airline_filtered_df.drop(columns=['operator2'])

,event_type,event_date,city,state,country,n,highest_injury_level,fatal_injury_count,serious_injury_count,minor_injury_count,...,longitude,make,model,airport_id,airport_name,number_of_engines,aircraft_damage,weather_condition,operator,operator1
0,ACC,2023-12-19,St. Louis,Missouri,United States,N8514F,NaN,0,0,0,...,-90.361389,BOEING,737,NaN,NaN,2,Substantial,VMC,southwest airlines co,southwest
1,INC,2023-11-30,Kahului,Hawaii,United States,N494HA,Minor,0,0,1,...,-156.429730,BOEING,717-200,OGG,KAHULUI,2,Minor,VMC,hawaiian airlines,hawaiian airlines
2,INC,2023-10-18,Memphis,Tennessee,United States,N287FE,NaN,0,0,0,...,-89.981873,BOEING,767,NaN,NaN,NaN,Minor,NaN,federal express corp,federal express
3,ACC,2023-10-05,Chattanooga,Tennessee,United States,N977FD,NaN,0,0,0,...,-85.203796,BOEING,757-236,CHA,Lovell Field Airport,2,Substantial,NaN,federal express corp,federal express
4,ACC,2023-09-30,Denver,Colorado,United States,N37560,NaN,0,0,0,...,-104.673820,BOEING,737-9,KDEN,Denver International,2,Substantial,NaN,united airlines inc,united
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2558,ACC,1982-01-23,BOSTON,Massachusetts,United States,N113WA,Fatal,2,4,24,...,0.000000,MCDONNELL DOUGLAS,DC-10-30,NaN,BOSTON-LOGAN INTER'L,3,Destroyed,IMC,"world airways, inc.",world airways
2559,INC,1982-01-22,LOUISVILLE,Kentucky,United States,N18FE,NaN,0,0,0,...,0.000000,DASSAULT/SUD,FALCON 20,SDF,STANDIFORD FIELD,2,NaN,VMC,federal express corporation,federal express
2560,ACC,1982-01-13,WASHINGTON,District of Columbia,United States,N62AF,Fatal,78,6,3,...,0.000000,BOEING,737-222,NaN,WASHINGTON NATIONAL,2,Destroyed,IMC,"air florida, inc",air florida
2561,ACC,1982-01-13,WASHINGTON,District of Columbia,United States,N62AF,NaN,78,6,3,...,0.000000,BOEING,737-222,NaN,WASHINGTON NATIONAL,2,Destroyed,IMC,"air florida, inc",air florida
2562,INC,1982-01-12,CHICAGO,Illinois,United States,N31031,NaN,0,0,0,...,0.000000,LOCKHEED,L-1011,ORD,CHICAGO O'HARE INTER'L,3,NaN,Unknown,trans world airlines,southwest

In [110]:
airline_filtered_df.head()

,event_type,event_date,city,state,country,n,highest_injury_level,fatal_injury_count,serious_injury_count,minor_injury_count,...,make,model,airport_id,airport_name,number_of_engines,aircraft_damage,weather_condition,operator,operator1,operator2
0,ACC,2023-12-19,St. Louis,Missouri,United States,N8514F,NaN,0,0,0,...,BOEING,737,NaN,NaN,2,Substantial,VMC,southwest airlines co,southwest,None
1,INC,2023-11-30,Kahului,Hawaii,United States,N494HA,Minor,0,0,1,...,BOEING,717-200,OGG,KAHULUI,2,Minor,VMC,hawaiian airlines,hawaiian airlines,None
2,INC,2023-10-18,Memphis,Tennessee,United States,N287FE,NaN,0,0,0,...,BOEING,767,NaN,NaN,NaN,Minor,NaN,federal express corp,federal express,None
3,ACC,2023-10-05,Chattanooga,Tennessee,United States,N977FD,NaN,0,0,0,...,BOEING,757-236,CHA,Lovell Field Airport,2,Substantial,NaN,federal express corp,federal express,None
4,ACC,2023-09-30,Denver,Colorado,United States,N37560,NaN,0,0,0,...,BOEING,737-9,KDEN,Denver International,2,Substantial,NaN,united airlines inc,united,None

----

In [112]:
#dropping null's in airport_id 
airline_filtered_df.dropna(subset=['airport_id'], inplace=True)

In [113]:
airline_filtered_df.shape

(1612, 23)

In [114]:
#dropping null's in operator1 column
airline_filtered_df.dropna(subset=['operator1'], inplace=True)

In [115]:
airline_filtered_df.shape

(1119, 23)

In [116]:
airline_filtered_df.head()

,event_type,event_date,city,state,country,n,highest_injury_level,fatal_injury_count,serious_injury_count,minor_injury_count,...,make,model,airport_id,airport_name,number_of_engines,aircraft_damage,weather_condition,operator,operator1,operator2
1,INC,2023-11-30,Kahului,Hawaii,United States,N494HA,Minor,0,0,1,...,BOEING,717-200,OGG,KAHULUI,2,Minor,VMC,hawaiian airlines,hawaiian airlines,None
3,ACC,2023-10-05,Chattanooga,Tennessee,United States,N977FD,NaN,0,0,0,...,BOEING,757-236,CHA,Lovell Field Airport,2,Substantial,NaN,federal express corp,federal express,None
4,ACC,2023-09-30,Denver,Colorado,United States,N37560,NaN,0,0,0,...,BOEING,737-9,KDEN,Denver International,2,Substantial,NaN,united airlines inc,united,None
14,ACC,2023-08-21,Santa Ana,California,United States,N516AS,NaN,0,0,0,...,BOEING,737-890,KSNA,John Wayne/Orange County Airport,2,Substantial,IMC,alaska airlines,alaska,None
17,INC,2023-08-11,San Diego,California,United States,"N7734H, N564HV",NaN,0,0,0,...,"BOEING, TEXTRON AVIATION INC","737-7BD, 560XL",SAN,SAN DIEGO INTL,"2,2","None,None",VMC,"southwest airlines co,hy-vee inc",southwest,hy-vee inc

In [117]:
airline_filtered_df['operator1'].isnull().sum()

0

In [118]:
airline_filtered_df.shape

(1119, 23)

## Aircraft_damage CleanUp

In [120]:
airline_filtered_df['aircraft_damage'].value_counts()

aircraft_damage
Minor                      331
Substantial                301
None,None                   56
Destroyed                   33
Minor,Substantial           31
Minor,Minor                 18
Substantial,Minor           14
Substantial,Substantial     12
Minor,None                   4
Substantial,None             2
None,Substantial             2
Destroyed,Substantial        2
Substantial,Destroyed        1
None,Minor                   1
Destroyed,Destroyed          1
Name: count, dtype: int64

In [121]:
#separating damage, will only be using first damage listed
airline_filtered_df[['aircraft_damage1', 'aircraft_damage2']] = airline_filtered_df['aircraft_damage'].str.split(',', n=1, expand=True)

In [122]:
airline_filtered_df['aircraft_damage1'].info()

<class 'pandas.core.series.Series'>
Index: 1119 entries, 1 to 2562
Series name: aircraft_damage1
Non-Null Count  Dtype
--------------  -----
809 non-null    object
dtypes: object(1)
memory usage: 17.5+ KB

In [123]:
airline_filtered_df['aircraft_damage2'].info()

<class 'pandas.core.series.Series'>
Index: 1119 entries, 1 to 2562
Series name: aircraft_damage2
Non-Null Count  Dtype
--------------  -----
144 non-null    object
dtypes: object(1)
memory usage: 17.5+ KB

In [124]:
airline_filtered_df['aircraft_damage1'].isnull().sum()

310

In [125]:
#dropping aircraft_damage2 column (not needed for our models)
airline_filtered_df.drop(columns=['aircraft_damage2'])

,event_type,event_date,city,state,country,n,highest_injury_level,fatal_injury_count,serious_injury_count,minor_injury_count,...,model,airport_id,airport_name,number_of_engines,aircraft_damage,weather_condition,operator,operator1,operator2,aircraft_damage1
1,INC,2023-11-30,Kahului,Hawaii,United States,N494HA,Minor,0,0,1,...,717-200,OGG,KAHULUI,2,Minor,VMC,hawaiian airlines,hawaiian airlines,None,Minor
3,ACC,2023-10-05,Chattanooga,Tennessee,United States,N977FD,NaN,0,0,0,...,757-236,CHA,Lovell Field Airport,2,Substantial,NaN,federal express corp,federal express,None,Substantial
4,ACC,2023-09-30,Denver,Colorado,United States,N37560,NaN,0,0,0,...,737-9,KDEN,Denver International,2,Substantial,NaN,united airlines inc,united,None,Substantial
14,ACC,2023-08-21,Santa Ana,California,United States,N516AS,NaN,0,0,0,...,737-890,KSNA,John Wayne/Orange County Airport,2,Substantial,IMC,alaska airlines,alaska,None,Substantial
17,INC,2023-08-11,San Diego,California,United States,"N7734H, N564HV",NaN,0,0,0,...,"737-7BD, 560XL",SAN,SAN DIEGO INTL,"2,2","None,None",VMC,"southwest airlines co,hy-vee inc",southwest,hy-vee inc,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2554,ACC,1982-02-17,MIAMI,Florida,United States,N4734,Serious,0,1,1,...,727-235,MIA,MIAMI INTERNATIONAL,3,Substantial,VMC,"pan american world airways, in",american,in,Substantial
2556,INC,1982-02-15,ONTARIO,California,United States,N73717,NaN,0,0,0,...,B737-2H4,ONT,ONTARIO INTERNATIONAL,2,Minor,IMC,aircal,aircal,None,Minor
2557,ACC,1982-02-03,PHILADELPHIA,Pennsylvania,United States,N1814U,Serious,0,1,0,...,DC-10-10,PHL,PHILADELPHIA INTL,3,Minor,IMC,united airlines inc.,united,None,Minor
2559,INC,1982-01-22,LOUISVILLE,Kentucky,United States,N18FE,NaN,0,0,0,...,FALCON 20,SDF,STANDIFORD FIELD,2,NaN,VMC,federal express corporation,federal express,None,NaN
2562,INC,1982-01-12,CHICAGO,Illinois,United States,N31031,NaN,0,0,0,...,L-1011,ORD,CHICAGO O'HARE INTER'L,3,NaN,Unknown,trans world airlines,southwest,None,NaN

In [161]:
#replace NaN with None, after reviewing other columns
airline_filtered_df['aircraft_damage1'] = airline_filtered_df['aircraft_damage1'].replace(np.nan, 'None')

In [163]:
airline_filtered_df['aircraft_damage1'].info()

<class 'pandas.core.series.Series'>
Index: 1119 entries, 1 to 2562
Series name: aircraft_damage1
Non-Null Count  Dtype
--------------  -----
1119 non-null   object
dtypes: object(1)
memory usage: 17.5+ KB

In [165]:
airline_filtered_df['aircraft_damage1'].value_counts()

aircraft_damage1
Minor          384
None           369
Substantial    330
Destroyed       36
Name: count, dtype: int64

### Dropping unnecessary columns

In [178]:
airline_filtered_df.columns

Index(['event_type', 'event_date', 'city', 'state', 'country', 'n',
       'highest_injury_level', 'fatal_injury_count', 'serious_injury_count',
       'minor_injury_count', 'probable_cause', 'latitude', 'longitude', 'make',
       'model', 'airport_id', 'airport_name', 'number_of_engines',
       'aircraft_damage', 'weather_condition', 'operator', 'operator1',
       'operator2', 'aircraft_damage1', 'aircraft_damage2'],
      dtype='object')

In [180]:
airline_filtered_df.drop(columns=['city', 'state', 'country','latitude', 'longitude', 'airport_id', 'airport_name', 'number_of_engines',
       'aircraft_damage', 'weather_condition', 'operator', 'operator2', 'aircraft_damage2'])

,event_type,event_date,n,highest_injury_level,fatal_injury_count,serious_injury_count,minor_injury_count,probable_cause,make,model,operator1,aircraft_damage1
1,INC,2023-11-30,N494HA,Minor,0,0,1,NaN,BOEING,717-200,hawaiian airlines,Minor
3,ACC,2023-10-05,N977FD,NaN,0,0,0,NaN,BOEING,757-236,federal express,Substantial
4,ACC,2023-09-30,N37560,NaN,0,0,0,NaN,BOEING,737-9,united,Substantial
14,ACC,2023-08-21,N516AS,NaN,0,0,0,NaN,BOEING,737-890,alaska,Substantial
17,INC,2023-08-11,"N7734H, N564HV",NaN,0,0,0,NaN,"BOEING, TEXTRON AVIATION INC","737-7BD, 560XL",southwest,None
...,...,...,...,...,...,...,...,...,...,...,...,...
2554,ACC,1982-02-17,N4734,Serious,0,1,1,NaN,BOEING,727-235,american,Substantial
2556,INC,1982-02-15,N73717,NaN,0,0,0,NaN,BOEING,B737-2H4,aircal,Minor
2557,ACC,1982-02-03,N1814U,Serious,0,1,0,NaN,MCDONNELL-DOUGLAS,DC-10-10,united,Minor
2559,INC,1982-01-22,N18FE,NaN,0,0,0,NaN,DASSAULT/SUD,FALCON 20,federal express,None
2562,INC,1982-01-12,N31031,NaN,0,0,0,NaN,LOCKHEED,L-1011,southwest,None

In [ ]:
df = pd.read_csv('